[2015-03-29 04:51] craigmdennis opened #2 "Persist previous state when typing"
Not sure on the best approach but it would be nice to be able to still have 'mouse' set when typing in an input if the `:focus` was triggered by a click (or tap etc.).

- Persist previous input method
- Option to set keyboard input to only trigger on tab

[2015-03-29 05:04] craigmdennis commented on #2
I've added the following:

[code]

[2015-03-29 05:22] craigmdennis commented on #2
Ok, I see that I can probably do this with the API (coffeeScript)

[code]

[2015-03-30 05:23] craigmdennis commented on #2
Ok, that's still not as effective as only tracking the Tab `keyCode`. Suggestions?

[2015-03-30 12:43] ten1seven commented on #2
Hi Craig,

This is a good feature that I missed! You caught me while I've been traveling since last Wednesday so I haven't had time to sit down and look. I'll be back at my desk tomorrow and let you know what I figure out.

[2015-03-31 14:33] ten1seven commented on #2
Hey Craig,

I just created this [pull request](https://github.com/ten1seven/what-input/pull/3) that ignores typing in form fields. I'd appreciate if you'd take a look and see what you think.

I was thinking of allowing developers to set a data attribute flag on the body to _ignore_ this behavior. Something like `data-whatinput-allowformtyping`, but the default behavior would be to ignore form fiel

[2015-03-31 23:52] craigmdennis commented on #2
Looks good! I agree that it should ignore inputs by default. Not sure about `data-whatinput-allowformtyping`, seems a little verbose.

[2015-04-01 00:38] #2 closed

[2015-05-01 18:09] greypants opened #5 "Publish to NPM :)"
**Hurry while the name is available!**

How-to:
https://docs.npmjs.com/getting-started/publishing-npm-packages

Package.json config info:
https://docs.npmjs.com/files/package.json

don't forget to add

[code]

and

[code]

To the README.

[2015-05-04 21:38] ten1seven commented on #5
Fixed by @jgarber623

[2015-05-04 21:38] #5 closed

[2015-05-05 14:46] greypants commented on #5
:+1: :+1: :+1: :+1: :+1:  Already installed and using!

[2015-05-12 00:41] ten1seven opened #7 "Add tracking support"

[2015-05-21 23:52] averyvery opened #8 "Chrome "emulate touch" returns as "mouse"?"
I know this isn't the primary use case, but I was surprised to see that what-input doesn't see chrome's "emulate touch" clicks as touches. This is probably because emulate touch is a hack and what-input is doing something clever, but if you have any ideas and it's a quick fix, that would be cool.

[2015-05-22 14:57] ten1seven commented on #8
I found [this article](https://developer.chrome.com/devtools/docs/device-mode#touch-emulation) that worked for me. There's a flag in `chrome://flags` that you need to enable.

![screen shot 2015-05-22 at 08 55 54](https://cloud.githubusercontent.com/assets/137020/7773252/772e43fc-0060-11e5-8868-752208e74301.png)

[2015-05-22 14:57] #8 closed

[2015-05-22 15:50] averyvery commented on #8
Awesome, that worked! :+1:

[2015-06-15 10:23] jareware opened #9 "Initial mouse detection"
Thanks for a cool lib!

Is there a reason why a touch device is identified on the first touch event (e.g. using your finger to scroll a page) but a mouse isn't identified the first time the user moves the cursor over the page?

[2015-06-15 18:52] ten1seven commented on #9
Thanks @jareware!

My initial feeling is that the events `touchstart`, `mousedown` and `keydown` that are used to detect interactions are all somewhat individually fired. Even when scrolling with touch, `touchstart` only happens once at the beginning.

On the other hand, `mousemove` (and similarly, `scroll`) fire continuously as the event happens. My concern is that this could be more processor "e

[2015-06-16 08:52] jareware commented on #9
You're right, the `mousemove` suggestion was rather naive...

What about [`mouseenter`](https://developer.mozilla.org/en-US/docs/Web/Events/mouseenter), though?

[2015-07-12 03:26] ten1seven commented on #9
That could work! I just whipped up [this Pen](http://codepen.io/ten1seven/pen/XbqOBX) as a  proof of concept.

It looks like, even if the mouse is already over the body, it'll fire the `mouseenter` event when the page loads, but never again unless the mouse leaves and re-enters the browser window. I'll do some additional browser testing to confirm that this works.

[2015-07-12 03:37] #9 closed

[2015-07-14 15:42] mgifford opened #10 "Touch with Laptop"
I just tested http://ten1seven.github.io/what-input/ with my laptop.  It's an Ubuntu machine.

Unfortunately, it identified it as a mouse.

It did work fine on my Android device.  Not sure where the problem lies.

[2015-07-14 15:45] ten1seven commented on #10
Can you be more specific? What it a touch-screen laptop and a touch was identified as a mouse?

[2015-07-14 16:26] mgifford commented on #10
It is a System 76 touchscreen laptop with Ubuntu 14.04. And yes, when I touched the screen, it identified it as a mouse.  Very different than my phone.

[2015-07-14 16:28] ten1seven commented on #10
And what browser are you using on your laptop?

[2015-07-14 16:37] mgifford commented on #10
Tried with FF (39.0) & Chrome (Version 43.0.2357.132 (64-bit)). Chrome doesn't seem to work at all well on the form elements.  They aren't highlighted at all.

[2015-07-14 16:53] ten1seven commented on #10
Thanks! I'm going to see how far I can get with this on a Parallels VM. I may enlist your help since, at least in my world, your setup isn't very common.

[2015-07-14 17:00] mgifford commented on #10
Agreed..  At the moment Windows dominates the touch screen laptop world.

[2015-07-22 10:07] jareware commented on #9
Really neat, looking forward to setting this up!

[2015-11-30 17:00] slavanga opened #13 "Degrade gracefully in unsupported browsers"
I would like to see a simple “cut the mustard” style check to prevent errors in old browsers. There is a polyfill for IE 8 but I think the utility should degrade gracefully even without the polyfill.

A simple check like this would be enough to prevent errors:

[code]

[2015-11-30 17:45] ten1seven commented on #13
Excellent suggestion! I might look at doing a more specific "mustard cutting" specific to the features I'm using and see about testing for the polyfills as well so there doesn't need to be two versions (polyfill and non-polyfill supported).

[2015-12-01 17:01] realalexhomer opened #14 "IE Not Working"
Hey,
I'm curious if anyone has gotten this to work on IE? I've tested on IE 9 and IE 10 to no avail. Its not a polyfill error as there is no error being thrown.

The script is initializing and the body is getting a mouse data attribute, but keyboard events are not causing this attribute to change.

If someone else can verify its not just me I'd be happy to fix it and submit a pr.

[2015-12-01 17:06] ten1seven commented on #14
Hey @realalexhomer, I can confirm that this works in IE8+ (just re-checked in my virtual machines). If you use the [demo page](http://ten1seven.github.io/what-input) is it still not working?

[2015-12-01 17:10] realalexhomer commented on #14
Thanks, sorry to bother you, it does appear to be working. I must have an event listener buried somewhere that is not propagating changes for ie for some reason.

[2015-12-01 17:27] ten1seven commented on #14
Happy to help if I can!

The keyboard events are bound on the `body` and `document`. If you're using `event.stopPropagation()` on keyboard events on elements in the page or are binding to the `<body>` and using `event.preventDefault()` that could be interfering with what input.

[2015-12-01 21:14] #14 closed

[2015-12-01 21:46] #13 closed

[2015-12-01 22:01] ten1seven commented on #13
Thanks again for the suggestion! Let me know if you have any issues with that working in the wild.

[2015-12-01 22:32] slavanga commented on #13
Awesome! Thank you for the quick implementation.
Looks good so far...

[2015-12-09 19:40] solomonhawk opened #15 "Compatibility with Chrome Emulation Mode"
When testing with Chrome Emulator mode set to iPhone(or other touch device), `what-input` fails to bind the `touchstart` event since `'ontouchstart' in document.documentElement` is false. Instead we should be checking for `'ontouchstart' in window` which is true in Chrome when Device Emulation is active [via Modernizr](https://github.com/Modernizr/Modernizr/blob/master/feature-detects/touchevents.

[2015-12-09 19:41] solomonhawk commented on #15
@ten1seven do you know whether this change can/will break other functionality of `what-input`?

[2015-12-09 22:08] ten1seven commented on #15
It shouldn't hurt anything at all. Are you proposing I replace this:

[code]

With the whole `if` from Modernizr?

[code]

Or just this?

[code]

[2015-12-14 15:46] #15 closed

[2015-12-30 12:19] meibegger opened #16 "Extended mouse identification"
Hi,
if you use the keyboard and then scroll with the mouse-wheel or move the mouse without leaving the window, currently the mouse-input is not identified, which is inconsistent.
So i think it might be useful to extend the mouse-identification by the wheel and mousemove events.
What do you think? Should i extend your widget?

[2015-12-30 13:52] #7 closed

[2015-12-30 14:02] ten1seven commented on #16
Mousewheel event detection is a good call. That should be simple to add.

I've been debating for a long time about using `mousemove`because of the potential expense of an event that fires continually. Debouncing would obviously be necessary. Using `mouseenter` was a concession, but you're right that it doesn't cover all use cases. I'm going to take a look at this later this week.

[2015-12-30 14:36] meibegger commented on #16
I forked what-input and added wheel & mousemove-support. Both with a debounce. (https://github.com/meibegger/what-input/blob/master/what-input.js)
You could merge it if you want.
I hope you don't mind!

[2015-12-30 14:47] ten1seven commented on #16
This looks good! I have one comment and one question:
- Using `mousemove`, `mouseenter` is no longer necessary so you can remove lines [47](https://github.com/meibegger/what-input/blob/master/what-input.js#L47) and [202](https://github.com/meibegger/what-input/blob/master/what-input.js#L202).
- Thinking it should use more robust `mousewheel` binding to support more browsers. I was looking at this

[2015-12-30 15:15] meibegger commented on #16
You are right! I removed mouseenter-detection.
According to MDN `mousewheel` is deprecated (https://developer.mozilla.org/en-US/docs/Web/Events/wheel) and not very widely supported (https://developer.mozilla.org/en-US/docs/Web/Events/mousewheel#Browser_compatibility) ... ?

[2015-12-30 15:20] ten1seven commented on #16
Yea, looks like https://developer.mozilla.org/en-US/docs/Web/Events/wheel is the way to go. The code block on that page is more robust than we need, but maybe there's something in this block for basic detection we can use:

[code]

[2015-12-30 16:18] meibegger commented on #16
done : )

[2016-01-06 00:41] alanontheweb commented on #10
Is this supposed to work for hybrids on Windows? I had someone test the demo on his Surface Pro and he told me that it detected his touch as "mouse". I was really hoping it would.

[2016-01-06 04:38] ten1seven commented on #10
@alanontheweb I don't have a Surface handy for testing but I did test with a touchscreen laptop running Windows 8 and that behaved as predicted, switching between touch and mouse depending on what's being used. It _could_ be how I'm handling pointer events, which have good implementation in IE but my touchscreen laptop was likely a limited sample. I think I can get the demo tested by a colleague a

[2016-01-06 04:43] alanontheweb commented on #10
I will! Thanks for actively supporting the project :) I think alternative scripts focus on figuring out the device, but I like the approach you're taking. I just hope it can be made to be more consistent with further testing.

[2016-01-06 10:49] FezVrasta opened #17 "Weird behavior when the mouse is moved outside the window and then in again"
1. Open the demo at http://s.codepen.io/FezVrasta/debug/VepyPV
2. press TAB and the text will become red (correct!)
3. move the mouse outside of the window, the text is still red (correct!)
4. move the mouse inside the window, the text is not red anymore (not correct!)

I would expect the text to stay red till I actually use the mouse to click somewhere.

[2016-01-06 16:07] ten1seven commented on #17
This is an issue that I've juuuuuust been debating about changing. Right now mouse detection happens on click _and_ on `mouseenter`. I hesitate using `mousemove` to keep the performance impact minimal. So what you're seeing is "correct", but a bit inconsistent.

Do you think `mousemove` should be used? So any mouse movement (heavily debounced) would remove the red from your text? Or _only_ clickin

[2016-01-06 16:09] FezVrasta commented on #17
I don't think mouse move should be used at all, this script is used to change the style of the `:focus` state of the elements when an user switch the input method.

If you press tab and then move the mouse, you don't want the button to lose its "focus state", you want it to lose its "focus state" only if you CLICK on an element (doing so, you would see the focus state assigned to the keyboard inpu

[2016-01-06 16:15] ten1seven commented on #17
I built it to do more than styling focus states (though that's how it originated). The API allows you to hook into it for scripting for multiple input types. For example, I've used it when building hover-triggered menus to script alternate interactions for touch and keyboard.

Some people have reported "bugs" when a keyboard focus state persists when switching to a mouse.

It sounds like, in your

[2016-01-06 16:24] FezVrasta commented on #17
No, sorry.

I mean, right now this is the behavior:
- click on a button, apply mouse style (you have clicked the mouse!)
- press tab, apply keyboard style (you have pressed a button!)
- move the mouse, apply mouse style (you have moved the mouse)
- move the fingers over the keyboard without touching any key, apply keyboard style (you have hovered your keyboard? umh)

As you can see, you are script

[2016-01-06 17:28] alanontheweb commented on #10
Okay, I've done some testing. This were on 2 Surface 3s running Windows 10. It seems to work great in Chrome. In IE11 and Edge, they work well too, but sometimes when touching the screen, it flickers to 'mouse' for a split second. I noticed that if I tap multiple times really fast in IE, the script incorrectly switches to mouse. Not sure if that's a real problem in average use though.

The one tha

[2016-01-06 17:33] ten1seven commented on #10
Thanks for the testing!

According [to this](http://stackoverflow.com/questions/27786658/surface-pro-3-with-firefox-have-single-touch-trigger-touch-mouse-events-instea), touch events are currently disabled in desktop Firefox unless in Metro mode.

[2016-01-06 17:37] alanontheweb commented on #10
Ack, dang, so close to a perfect script! Firefox is so lame now :( Hahah.

[2016-01-06 17:46] alanontheweb commented on #10
I haven't looked into how whatinput works, but is there any sort of trickery that can be accomplished by combining this polyfill that would result in cross-browser support?

https://github.com/jquery/PEP

[2016-01-06 17:54] ten1seven commented on #10
It already detects for pointer events and handles them as touch or mouse depending on which one it is: https://github.com/ten1seven/what-input/blob/master/what-input.js#L70

[2016-01-15 11:18] venty opened #18 "Uncaught TypeError: Cannot set property 'whatInput' of undefined"
Can't get it to work. Using Foundation 6 and Laravel.

When I open my Site, there is the error "Uncaught TypeError: Cannot set property 'whatInput' of undefined" what happens on line 9 of what-input.js so it should be the "root" variable, which is not available.

Am I doing something wrong or is the error elsewhere?

Thx! :)

[2016-01-15 14:29] ten1seven commented on #18
Hi @venty, I'm not sure how Foundation is including/requiring What Input so let me ask a couple questions. Are you trying to use is in one of your scripts? Or is this just happening on its own? Is it working otherwise (if you inspect the page, do you see a `data-whatinput="..."` on the `<body>` after interacting with the page)?

I haven't experienced any issues with line 9 personally so just wanti

[2016-02-04 15:25] stefanFarnetani opened #19 "Lack of Input method: AccessibilityFocus"
In iOS, when accessibilty feature voiceOver is active, you have a accessibility Focus.
With right /left swipes you can switch between elements, similar to keyboard navigation.

https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIAccessibilityFocus_Protocol/index.html
I don't know if it is technically possible to cath up for the mode.
Even I dont't know how it is called in Andro

[2016-02-04 17:24] ten1seven commented on #19
@stefanFarnetani this is fascinating! Thanks for starting this ticket. I have a small backup of issues to look at now that I'm past a rather intense project.

[2016-02-09 09:36] meibegger commented on #16
Hi,
do you want to merge our "fix" or do you want to provide a different solution, or what is the plan?

[2016-02-09 13:49] ten1seven commented on #16
Hey @meibegger, sorry for the delay. I got buried under some project work over the past month but wanted to have time to test your fix before merging it in. I should be able to get to this in the next week.

[2016-02-12 10:02] rodneyrehm commented on #19
This has various names, among others it's called the _virtual focus_. It's the currently active element within the screen reader (VoiceOver in your case).

This information is _not_ exposed to the browser as that would raise privacy issues. You cannot identify which element is currently focused by the screen reader.

[2016-02-12 11:53] patrickhlauke commented on #19
indeed this is not exposed. further, when moving the focus with VO there are no specific events being fired other than `focus`. Once a user activates something, like a button, iOS/VO will send the same sequence of events (touch events, compatibility mouse events, `click`) as a "regular" iOS touchscreen interaction too. http://patrickhlauke.github.io/touch/tests/results/#mobile-tablet-touchscreen-a

[2016-02-12 12:02] patrickhlauke commented on #10
@mgifford coming in late, but: do those browsers actually recognise touch under ubuntu? i.e. if using http://patrickhlauke.github.io/touch/tracker/multi-touch-tracker-pointer-hud.html [edit: it seems this actually bombs in Firefox due to lack of current support for canvas ellipse method - see https://github.com/patrickhlauke/touch/issues/13] are touches identified as touch, or mouse? if the latter

[2016-02-12 15:13] patrickhlauke commented on #10
Just to confirm (from some quick testing) that in Windows 10 using Surface 2 touch is correctly recognised in Chrome, while Firefox still doesn't actually recognise/fire touch at all (it's disabled by default for site compat reasons)

[2016-02-13 21:00] adam-lynch opened #21 "Needs to be compatible with FastClick"
We have code like this project already and found we had to patch it because [FastClick](https://github.com/ftlabs/fastclick) triggers clicks when the user taps. I'd like to move to depending on something like this (that's used & tested by many), rather than having our own custom code, but it would have to handle this case.

[2016-02-14 04:24] simevidas commented on #5
@ten1seven Also update the Installing section in the README. Otherwise, some people might think that only bower is supported.

[2016-02-16 17:04] patrickhlauke commented on #21
Have just tested what-input in combination with fastclick http://patrickhlauke.github.io/touch/what-input/index-fastclick.html and I don't see the two conflicting.That's likely due to the short delay used after `touchstart` was detected, which avoids seeing the mouse compatibility events and `click` you'd get in a regular touch interaction, as well as the `click` fired by scripts like fastclick.

[2016-02-16 17:10] adam-lynch commented on #21
Cool! I'll have to test it so sometime with our app :smile:.

---

Wait, all of those work on Android? :grinning:

[2016-02-16 17:11] patrickhlauke commented on #10
Sorry, to expand: there's nothing that can be done at this script's level if the OS/browser themselves don't expose/recognise touch interfaces (which is the case for instance for Firefox on touchscreen laptops/desktops). Likely the same issue under Ubuntu (suspect that it's not exposing the fact it has a touchscreen to the browsers). As such, the issue here can probably be closed.

[2016-02-16 22:13] ten1seven commented on #10
Thanks @patrickhlauke for digging in and testing. I concur. Going to close this.

[2016-02-16 22:13] #10 closed

[2016-02-16 22:16] ten1seven commented on #19
Agree. Plus the `UIAccessibilityFocus` event listed in this article are only exposed to Objective-C/Swift for native apps.

[2016-02-16 22:16] #19 closed

[2016-02-16 23:33] ten1seven commented on #21
@adam-lynch just tested this as well on a project I happen to be using both on and didn't see any issues on iOS 9.2.1/Safari. Sounds like I don't need to dig any deeper on this but could you explain the patch you had to implement for your script? Was it to fix iOS or Android?

[2016-02-16 23:33] ten1seven commented on #18
Hey @venty, wanted to follow up on this. Are you still having issues with What Input or did you get it resolved?

[2016-02-17 08:37] stefanFarnetani commented on #19
It's too bad that there is no way currently to detect the virtual focus.
Thanks all for the detailed informations.

[2016-02-17 11:51] adam-lynch commented on #21
@ten1seven Android. It turned out to be also partly because of some of our code + hammerjs. See https://github.com/ftlabs/fastclick/issues/453#issuecomment-184771994

[2016-02-17 20:14] ten1seven commented on #16
Just published version 1.2.0 and rolled in some refactoring with the way mouse wheel is implemented.

[2016-02-17 20:14] #16 closed

[2016-02-17 20:14] ten1seven commented on #21
Ah, cool. Sounds like I can close this issue then. Please re-open or create a new issue if needed.

[2016-02-17 20:14] #21 closed

[2016-02-17 20:34] adam-lynch commented on #21
Yep I'd say so. I'm sure plenty of people will test it on Android anyway :)

On Wed, Feb 17, 2016, 20:14 Jeremy Fields notifications@github.com wrote:

[2016-02-17 20:35] meibegger commented on #16
Hey @ten1seven. Great!

[2016-02-17 22:35] patrickhlauke commented on #21
note that i _did_ test the combination of what-input and fastclick on Android as well as iOS, and both work just fine together (i did have a pretty stupid bug in my original demo, but i fixed that, and the results are still good) http://patrickhlauke.github.io/touch/what-input/index-fastclick.html

[2016-02-17 22:35] adam-lynch commented on #21
Good to know, thanks @patrickhlauke :grinning:

[2016-02-18 20:55] mhair commented on #18
I am having the same issue with Foundation 6.2rc, but believe it was also happening with 6.1.2. It happens without any interaction, just on page reload. If data-whatinput is supposed to be set on the body, I believe it is browsersync which is over-writing it since this is what I see on the rendered page:

`<body class="bg-img"><script type='text/javascript' id="__bs_script__">//<![CDATA[
    docum

[2016-02-18 21:00] ten1seven commented on #18
Is there an example I can look at online? I'm not familiar with how Foundation is bundling the script but if it's not adding an attribute to the body it's failing before it really does anything. I doubt browserSync would blow away all attributes on the body.

[2016-02-18 21:33] mhair commented on #18
No, this is on a local dev server. However, I just noticed that view source shows the body tag as above, but chrome dev tools inspect shows it like this.

<body class="bg-img" data-whatinput="mouse" id="dummybodyid" cz-shortcut-listen="true"

So that's about all I can tell you. If you want to quickly scaffold an example, you can:

npm install --global foundation-cli
then...
foundation new --framew

[2016-02-18 21:33] mhair commented on #18
BTW, this is currently my only error in the console.

[2016-02-18 21:59] ten1seven commented on #18
Oh, so `data-whatinput="mouse"` means what input is detecting and working. I just followed your steps to set up a test site and it worked smoothly (thanks). With the site up and running, my console is clear and What Input is working correctly.

<img width="655" alt="2016-02-18 02 58 31 pm" src="https://cloud.githubusercontent.com/assets/137020/13159640/292395d8-d650-11e5-93ea-60cb8283d70a.png">

[2016-02-18 23:00] mhair commented on #18
Hmm. I'm wondering if it is because I've installed the beta. Could you try:
npm install foundation-sites@beta

Per this post: https://github.com/zurb/foundation-sites/releases/tag/v6.2.0-rc.1

And then try it again?

[2016-02-18 23:43] ten1seven commented on #18
Okay, I was _finally_ able to reproduce this error! It has to do with the AMD wrapper throwing an error with Babel and ES2015. I need to dig into the best solution to support current and future syntax but I hope to have a fix for this in a day or two that I can publish and then send the fix to Zurb.

[2016-02-19 16:53] ten1seven commented on #18
@mhair I'm working on a more sustainable fix, but for now you can replace the current version at `bower_components/what-input/what-input.js` with this: https://raw.githubusercontent.com/ten1seven/what-input/module-wrapper/what-input.js

[2016-02-20 10:16] slavanga opened #27 "Compatibility with screen readers"
I just found this comment about what input on [a11yproject.com](http://a11yproject.com/posts/never-remove-css-outlines/):

Can someone confirm or deny if what input is working correctly with screen readers?

[2016-02-21 17:14] ten1seven commented on #27
Hi @slavanga, thanks for sending this article! Like it mentions, **What Input** doesn't set styles itself -- it sets an attribute on the body, leaving styling up to the individual author. In that sense, the script itself doesn't violate any issues with what events a screen reader fires.

However, the suggested usage for styling...

[code]

...could cause the issue noted in the article. I haven't d

[2016-02-21 22:01] slavanga commented on #27
@ten1seven thank you for the explanation.

Your post about accessibility in agencies hits the nail on the head. I'm ok with a little tradeoff and using **What Input** is still better than just removing outlines.

It would be interesting to know what problems (if there are any) the use of **What Input** can cause for screen readers. Honestly, I have no clue how to test this myself so I thought some

[2016-02-22 01:15] ten1seven commented on #27
I wasn't aware of specific issues until you brought the a11yproject.com article to my attention. I'm going to look into it and leave this issue open and report back with what I find.

[2016-02-22 22:14] ten1seven commented on #27
Okay, I found [this article](https://www.paciellogroup.com/blog/2014/04/javascript-touchpointer-events-research-notes-screenreaders-faked-mouse-events-touchscreens/) by the always awesome Paciello Group and was able to test and verify the issue with a simple test page.

I just pushed [version 1.2.4](https://github.com/ten1seven/what-input/releases/tag/v1.2.4) which adds `keyup` as a keyboard detec

[2016-02-23 14:41] mhair commented on #18
Hey there, sorry for the late response, Had forgotten to watch my other email account for notifications.

Anyway, your temporary fix did make the prior uncaught exception go away. Now I'm getting a new one with no changes to code that I can think of, but I may be wrong on that. This time it is"Uncaught ReferenceError: require is not defined", however it is refering to line 16349 of my app.js (the

[2016-02-23 14:44] ten1seven commented on #18
Yep, **What Input** uses Gulp for the build precess but Foundation doesn't touch that so it must be something in the Beta. I'll keep this ticket open until I have a more permanent fix for the wrapper issue.

[2016-02-23 17:40] philwolstenholme opened #28 "Ignore certain key presses"
I'm using what-input to switch between photo captions appearing when hovering over a photo, and appearing underneath the photo, depending on whether the user is a mouse user or not. Switching input type causes a page reflow as the captions take up more vertical space.

If I go to click on a photo with my Ctrl key pressed (to open the photo link in a new tab) then the input type is changed and the

[2016-02-23 19:15] ten1seven commented on #28
Good catch! I don't see any down side to ignoring the modifier keys. Looks like the list is `SHIFT`, `ALT` and `CTRL`. I'll probably be able to get something out by tomorrow.

[2016-02-23 20:13] philwolstenholme commented on #28
Glad you like the idea!

Wow! There's no rush from my point of view at all, as this is just a _nice-to-have_. The time you've put into this project is super appreciated.

[2016-02-24 00:45] ten1seven commented on #28
Just published [v1.2.5](https://github.com/ten1seven/what-input/releases/tag/v1.2.5) to ignore those keys.  I'd love to get your feedback after trying it out in your app. Thanks for the suggestion!

[2016-02-27 10:09] slavanga commented on #27
This definitely makes **What Input** more bulletproof. Thank you for taking a look!

[2016-02-27 15:55] ten1seven commented on #27
Great! I'm closing this issue then.

[2016-02-27 15:55] #27 closed

[2016-02-28 19:17] Preen commented on #18
Its not in beta anymore, hoewever the error is still there.
https://github.com/zurb/foundation-sites/wiki/Upgrading-to-Foundation-6.2

[2016-02-28 20:30] nicktc commented on #18
Having the same issue :-).

[2016-02-28 21:53] ten1seven commented on #18
Thanks for the update. I'm working on getting a fix out asap.

[2016-02-29 02:52] baffleinc commented on #18
+1 for solution! breaking my foundation site too :)

[2016-02-29 03:12] ten1seven commented on #18
Hey everyone, What Input is now at version 2.0.0! The only change is an API-breaking update that changes the module wrapper and fixes the issue with Foundation (and also removes the dependency on specific module loaders going forward).

I've submitted a pull request to Zurb here: https://github.com/zurb/foundation-sites/pull/8279
There's also a reported issue on this at the Foundation Sites repo h

[2016-02-29 03:12] #18 closed

[2016-02-29 03:40] baffleinc commented on #18
Legendary!

[2016-02-29 17:18] gakimball commented on #18
Thanks for working this out, @ten1seven :)

To explain the issue in more detail, Babel's `es2015` preset includes a module called `modules-commonjs`, which by default will convert any top-level reference to `this` to `undefined`. So in a typical UMD/AMD wrapper, where you might use `this` to refer to the Window, it gets converted to undefined instead.

You can avoid this by setting the `allowTopLe

[2016-02-29 17:21] ten1seven commented on #18
Thanks for the explanation @gakimball!

[2016-02-29 22:38] philwolstenholme commented on #28
Sorry for the delay in getting back to you about this @ten1seven . I've added some Apple specific keys (the command keys used for opening links in new tabs on a OS X machine) to the ignore list in this pull request: #29

[2016-02-29 22:40] philwolstenholme commented on #28
For anyone else proposing keycodes to ignore, http://keycode.info is a useful resource.

[2016-02-29 22:43] ten1seven commented on #28
Thanks for submitting a PR! Always nice when someone wants to pitch in. Please note that I'm at version 2.0.1 due to a breaking change in the UMD wrapper. If you're using a package manager it probably won't pull in the update unless you bump the version.

[2016-02-29 22:43] #28 closed

[2016-04-08 11:55] pscdodd opened #31 "Version in README.md does not match version in min.js"
[README](https://github.com/ten1seven/what-input/blob/master/README.md):
What Input is now v2.0.0

[what-input.min.js](https://github.com/ten1seven/what-input/blob/master/what-input.min.js):
@version_ v2.0.1

[2016-04-08 14:15] #31 closed

[2016-04-23 00:56] lufzle commented on #17
I think this is too subjective. @ten1seven you might want to leave this decision to the developer. Wouldn't make sense to expose an API to set the events to be listened?

Default would be the way it is now; and @FezVrasta would be able to call something like `.detectionEvents(['click'])` and others could do `.detectionEvents(['click','mousemove','mouseenter'])`, etc.

Or at least, maybe provide so

[2016-04-23 09:34] FezVrasta commented on #17
It could be a solution. but I think that the solution I propose is just what the user expects.

[2016-04-25 14:44] ten1seven commented on #17
@FezVrasta @luisfarzati thanks for your comments and suggested solutions on this. I'm still puzzling through the best direction. At this point I'm hesitant to change the behavior that people (developers) now expect.

`mousemove` detection was only recently added as a way to detect mouse usage as soon as possible to minimize the time of ambiguity after the page loads.

When typing in form elements,

[2016-04-25 15:38] FezVrasta commented on #17
No the main problem is just that if I've an input focused (because I used the keyboard) and I accidentally move the mouse out and then inside the window, I don't want to lose the focus effect I've applied.

[2016-04-25 17:19] ten1seven commented on #17
Not sure how I feel about doing this all the time, but your concern is valid and seems to be focused around form inputs -- when a mouse user is using the keyboard. Check out the [form-input-switching](https://github.com/ten1seven/what-input/tree/form-input-switching) branch with a solution that locks in the input type when interacting with form elements. This goes both ways for mouse and keyboard

[2016-04-26 13:50] stephenbe opened #32 "Keyboard becomes mouse when there is long links"
![what-input](https://cloud.githubusercontent.com/assets/3018441/14820280/fc53ec8c-0b93-11e6-8a3c-4bd2c4c25b37.gif)

http://codepen.io/stephendesjardins/pen/MyqQLd

The bug is when I tab into a button with a long link, Chrome renders the long link after a few seconds and causes data-what-input to become a mouse. I tried disconnecting my mouse and the data still changes to mouse.

Windows Chrome  5

[2016-04-26 14:38] ten1seven commented on #32
That is indeed curious. However since it's specific to Chrome on Windows (doesn't happen in Chrome OS X) and is triggered by their browser chrome I'm of the opinion that it's a Chrome bug and not something I can address in What Input. I submitted a bug report to Chrome using [this CodePen](http://codepen.io/ten1seven/pen/xVaWMX) that isolates the events to show that it's not specific to What Input

[2016-04-26 14:38] #32 closed

[2016-05-13 18:16] mAAdhaTTah opened #33 "Use ES6 & WebPack? Bring Back UMD!"
You said to open a ticket if I needed UMD, so here I am :).

We're looking at integrating `what-input` for helping with some accessibility issues we're having. However, we're developing everything internally in ES6, loading via modules, and compiling with webpack. Given that, I really dislike the idea of importing something that adds a global, as we've already had problems with these sorts of "imp

[2016-05-14 23:58] ten1seven commented on #33
Hi James,

Thanks for adding the ticket _and_ offering to help! I pulled the UMD wrapper out of frustration in trying to find something workable across different situations. Since this whole thing started with Foundation transpiling _all_ JavaScript through Babel (why oh why would they do that to vendor scripts), how would you recommend supporting ES6 _and_ ES5? Two versions?

[2016-05-15 14:04] mAAdhaTTah commented on #33
Here's what I'm thinking for supporting both:

Convert the library to ES6 code and save it as `src/index.js`. It will `export default` the main object. Then you add `"jsnext:main": "src/index.js"` to the `package.json`. While it's not exactly a "standard", it is [commonly used](https://github.com/jsforum/jsforum/issues/5) for that purpose, and even if the user's build tool doesn't use it by defaul

[2016-05-15 15:09] ten1seven commented on #33
Sounds good! I'm more familiar with Browserify but Webpack had become so popular it's probably worth using and the implementation should be simple enough that it's be a good opportunity for me to pick it up 😄

I just committed some updates with a version bump to 2.1.0 that consolidates the Gulp tasks into a single file and, more notably, changes the input switching behavior when interacting with f

[2016-06-07 21:29] ten1seven commented on #33
Hi @mAAdhaTTah! Have you had any time to make progress on this? I'm having other people ask about this as well.

[2016-06-07 21:46] mAAdhaTTah commented on #33
I have not, as the project that involves this change got delayed. If you need it, I'll see if I can take a pass at it today.

[2016-06-07 21:59] ten1seven commented on #33
Thanks for the update! No rush unless you have the time.

[2016-06-24 20:48] joe-watkins commented on #17
@ten1seven Why do you think a "mouse user" or "touch user" wouldn't want a focus ring or outline? There are many users who could use all 3 of these combinations (keyboard, touch, mouse) at the same time and could appreciate knowing which element is currently focused in the UI.

For users with cognitive disabilities, low vision, and/or mobility disabilities could find it very confusing to have focu

[2016-06-24 21:23] ten1seven commented on #17
@joe-watkins thanks for commenting! You have a valid point and one that I thought through a bunch when considering this request. Forms are so tricky in that they're the one place where mouse users become keyboard users. Here's my thinking on it -- though I"m happy to debate in the name of making the web better 😄
- In the instance of interacting with a form, I'm hoping that good focus indication is

[2016-06-24 22:33] joe-watkins commented on #17
@ten1seven It's very obvious accessibility is on your mind here and I don't wish to harsh on the hard work you've put in here but I do feel it's worth chatting about since your project is very visible to the dev community.. Foundation even uses it.

I'm very much in the camp of don't mess with outlines unless you are enhancing/styling them.

**Designers**
Modern/Professional web designers have emb

[2016-06-24 23:15] ten1seven commented on #17
Oh man, if everyone was that educated and understanding this script wouldn't be necessary and I'd be fine with that 😄

Thanks for the thorough response! It sounds like the usage you're suggesting is:
- **Links** don't hold focus like form controls when you click on them (like a button will) so leave the focus state on these alone or only enhance the styling but otherwise don't use What Input to st

[2016-06-24 23:30] joe-watkins commented on #17
@ten1seven :) Tnx for responding.. The last one is the bugger.  Here is a great example of focus state being part of the design..it doesn't have to feel like a bug. If your plugin was running here I'd lose that handy state when navigating through the side nav and moving mouse..that'd be a bummer.

[Video Screencast of University of Washington's offscreen nav](http://www.screencast.com/t/kPckX0Zf)

[2016-06-25 00:45] ten1seven commented on #17
Ah, I see a little more how you're viewing it. In my work I use it to add really visible focus indicators to existing focus/hover styes. Here's an example: http://d.pr/v/19FZ6

However a well-intentioned tool used incorrectly will still result in poor outcome.

I'd love to get your edits on the documentation on how to more accurately use it!

[2016-06-25 14:42] joe-watkins commented on #17
@ten1seven That demo is slick! I surely see how when used properly it could add to the experience. Those are some spiffy underlines on those links as well!

I'll fire up a PR for your review on this topic.

[2016-07-13 16:26] #33 closed

[2016-07-13 16:26] #17 closed

[2016-07-13 16:27] ten1seven opened #37 "Add link to repo from demo page"

[2016-07-25 16:36] mAAdhaTTah opened #38 "activeElement can be null"
I'm sometimes getting an error on from [this line](https://github.com/ten1seven/what-input/blob/master/src/what-input.js#L120) while testing in IE11. Apparently, `activeElement` can be null, so the line throws an error. I don't think it materially affects the script, but maybe an existence check there would be an improvement? If I get around to it, I can open a PR, but figure I should flag you on

[2016-07-25 16:37] ten1seven commented on #38
Ah, cool. Thanks!

[2016-08-03 08:44] jantimon opened #39 "Why does mouse move trigger a change although it does not change focus?"
Why does mouse move trigger a change although it does not change focus?

[2016-08-03 12:17] ten1seven commented on #39
Hi @jantimon,

Binding mousemove is an attempt to catch the mouse as the current input device as quickly as possible. Also, people using keyboard or touch _have_ to "interact" (initiate touchstart or keydown events) with the page even to just read content. A mouse user may never initiate a mousedown event so mousemove provides an additional way to detect mouse usage (though mousewheel was also add

[2016-08-03 12:20] jantimon commented on #39
But then it's not possible to use the library to have a different focus style for mouse/keyboard interactions.

If the user tabs through the page and moves the mouse the design changes which feels strange.

[2016-08-03 12:22] jantimon commented on #39
Would it be possible to have an additional `data-whatfocusinput` attribute which is set to mouse/keyboard/touch only if the user presses focus keys, clicks or touches?

[2016-08-03 12:36] jantimon commented on #39
In the demo moving the mouse doesn't cause a change if the user is inside a form element but only on links.. I guess this is very hard to understand for the user.

[2016-08-03 12:38] jantimon commented on #39
Try https://www.viget.com/work/politicos-2016-election-coverage for example:

tab through the links and move the mouse - the tab state just disappears..

[2016-08-03 13:07] ten1seven commented on #39
The interaction (not changing input state when interacting with form elements, even when switching between keyboard and mouse) was a requested addition but I regret trying to make the script too "smart" about what someone might be doing and am planning on removing that "feature" soon.

What you see on the Politico page is expected -- the script is picking up on whatever current input device is bei

[2016-08-03 13:27] jantimon commented on #39
We have the requirement to have very bold surroundings for keyboard navigation but we don't want to have those styles if the user is just using his mouse.

However if he is using both - mouse and keyboard the user should be able to still see where his last "tabbed" focus was as long as he didn't focused sth else using the mouse.

We don't want to punish a keyboard user for moving the mouse.

What

[2016-08-03 14:27] jantimon commented on #39
Just found allyjs which does exactly that: http://allyjs.io/api/style/focus-source.html

[2016-08-03 15:46] ten1seven commented on #39
That's a great suggestion! I'll keep this ticket open and let you know when I've made that change (even if you wind up using allyjs 😉 ). Allyjs is pretty great and does soooooo much.

[2016-08-04 06:48] jantimon commented on #39
Cool 👍

[2016-09-02 21:02] localpcguy commented on #38
I see the same error on this piece of code (which appears to be the same line listed above)

`if (currentInputType !== newInputType && ignoreMap.indexOf(eventKey) === -1 && formInputs.indexOf(document.activeElement.nodeName.toLowerCase()) === -1) {`

[2016-09-06 06:14] KDCinfo opened #40 "Input Switches to Mouse without Movement if Cursor is in Window"
Hi there,

If my mouse cursor is inside the window document, and I use the keyboard, it switches the data-whatinput to "keyboard", but then within about 1 second it switches right back to "mouse". If my cursor is outside of the screen, the input stays on "keyboard".

This happens both on my site and your demo site, but not on another site I worked on in the past. Maybe something has changed since

[2016-09-06 13:46] ten1seven commented on #40
Hey, @KDCinfo there is a mousemove listener at work. While input methods like touch and keyboard require an action before they can be detected, I'm using mousemove (as well as mousedown) to detect mouse usage as quickly as possible. This was added after the initial release but has been around for a little while.

This addition does get mixed reactions. What do you think about it?

[2016-09-06 20:52] KDCinfo commented on #40
Thank you for the quick feedback! :)

I wouldn't mind so much if it didn't switch to 'mouse' even when the mouse isn't moved. :) I think those with limited accessibility may use both inputs from time to time, but with it switching to 'mouse' just because the cursor is inside the document window, then it seems there really is no 'keyboard' unless you move the cursor outside the window. Then again,

[2016-09-06 21:02] ten1seven commented on #40
Thanks for the feedback. I've been thinking about doing a rewrite and am re-considering some of the "features" that have made their way in over the past year or so.

You might want to grab the latest version: https://github.com/ten1seven/what-input/blob/master/dist/what-input.js

Instead of commenting out the line in the map, you should be good to comment out [line 260](https://github.com/ten1seve

[2016-09-06 21:47] KDCinfo commented on #40
Commenting out line 260 worked. I'll keep with this version/change. The only slight difference I see between this and my minified version is, with the minified version, it switches to 'mouse' when the cursor enters the document window. But that's really no big deal (imo).

Thank you very much for the insights. :+1:

[2016-09-06 21:47] #40 closed

[2016-09-20 22:46] ten1seven commented on #39
Hey @jantimon, I reworked the script as version 4.0 (since it significantly changes how it works and removes some API options) so now `mousemove` has no effect on the `data-whatinput` attribute but added a new `data-whatintent` attribute that acts like the old way. I'd appreciate it if you could take a look and let me know what you think.

_Please note that the demo page has not been updated with

[2016-09-20 23:02] ten1seven commented on #38
Hi @mAAdhaTTah and @localpcguy,

I've addressed this as part of a [v4.0 update](https://github.com/ten1seven/what-input/tree/version-4). Would you be up for checking it out and letting me know if this resolves the bug you're seeing?

I'd recommend looking over the updated README to see what's changed.

https://github.com/ten1seven/what-input/blob/version-4/src/what-input.js#L128

[2016-09-20 23:28] mAAdhaTTah commented on #38
[code]

This still won't work because `document.activeElement` can be `null`, so attempting to access `nodeName` will throw. Something like:

[code]

should be fine.

[2016-09-21 06:11] jantimon commented on #39
Wow nice gonna try it right away :)

[2016-09-21 14:11] ten1seven commented on #38
Ah, okay thanks. Do you have steps to reproduce the bug so I can test?

[2016-09-21 14:51] #37 closed

[2016-09-22 00:16] mAAdhaTTah commented on #38
Honestly, it happened kind of randomly. I'm not really sure how to reproduce it consistently. Sorry.

[2016-10-18 15:44] ten1seven commented on #38
This fix has been released in [v4.x](https://github.com/ten1seven/what-input/releases/tag/v4.0.1). Give it a shot when you have a chance.

[2016-10-18 17:53] localpcguy commented on #38
I'll see if I can test it, I think we have already handed off that project with a manual fix to production, but I probably still have the code locally.

[2016-10-28 16:00] alexvb opened #43 "Interacting with button elements"
What Input currently doesn't update the input method when `<button>` elements are being interacted with. Since buttons are not only used to interact with a form, would you consider removing it from the list of 'blacklisted' elements?

[2016-10-28 16:47] ten1seven commented on #43
This is correct and desired behavior and actually why what input was first created. Since buttons can be used within forms _and_ for triggering behavior outside of forms, it was visually confusing when they were clicked by mouse users and they held and visually displayed focus. The old solution was to remove the focus indicator, but that disadvantaged keyboard users. What input solves the issue of

[2016-10-28 16:50] ten1seven commented on #43
(disregard my last comment if it came through)

[2016-10-28 17:43] ten1seven commented on #43
Yes, this seems reasonable. Give me a day to check it out and get back to you with a new release.

[2016-10-30 23:39] #43 closed

[2016-12-06 10:01] hooleyhoop opened #45 "Element.classList not available in ie9"
could / should a check be added in with the  “cut the mustard” tests for indexOf and EventListener?
Alternatively classList could be avoided all together. Happy to help out if i can.

[2016-12-06 14:21] ten1seven commented on #45
Hi @hooleyhoop, those tests [are included](https://github.com/ten1seven/what-input/blob/master/src/what-input.js#L241) before the script inits. There's also polyfills included if you need support for older IE's. Support for `classList` goes back to IE9. Are you needing IE8 support?

It's a good call to add `classList` as a check in the cut-the-mustard. I'm up for adding a polyfill but want to keep

[2016-12-06 15:04] hooleyhoop commented on #45
Sorry for the noise, a quick check of [caniuse](http://caniuse.com/#feat=classlist) suggested ie9 didn't have support, but actually the errors i'm seeing are from old Safari (5) and Android Browser (2.3).

I think the cut-the-mustard check and polyfill can be completely avoided by using className instead of classList, so..

`docElem.className += ' whatinput-types-' + currentInput;`

instead of

`d

[2016-12-08 15:15] #45 closed

[2017-01-12 12:14] priithansen commented on #38
Seems that we are having related errors with IE11 users and somehow activeElement seems to be truthy with nodeName still undefined

![image](https://cloud.githubusercontent.com/assets/1476082/21889405/7061c4a4-d8d1-11e6-9830-7c9820000571.png)

[2017-01-12 15:12] ten1seven commented on #38
@priithansen thanks for these details! I'm checking it out.

[2017-01-12 15:39] ten1seven commented on #38
@priithansen I'm still not able to reproduce this error in IE11. If you have any steps or anything happening on that page that I could try it would be helpful.

Alternately, I took a stab and adding an extra check to make sure nodeName exists. Can you check out the version in this branch and let me know if the error persists?

https://github.com/ten1seven/what-input/tree/jf/activeelement-ie11-fix

[2017-01-13 10:32] priithansen commented on #38
Thanks for the quick fix. I'm not able to reproduce it either so it looks like the easiest way to check is  to but the fix live on our site and see if the sentry errors start to go down.

I will report back probably some time next week when we have collected some statistics.

[2017-01-16 14:59] priithansen commented on #38
Happy to report that we have not had any errors from IE11 after putting the ie11-fix live (used to be tens to hundreds a day). Not sure if the problem is now just buried deeper or fixed :)

[2017-01-16 16:13] ten1seven commented on #38
👍 thanks for the update! I added an extra check for `activeElement` so hopefully it resolves the issue. Happy to hear back if you report any more issues. I'll merge this into master and release it as v4.0.5 this morning.

[2017-01-24 11:31] swey opened #49 "Please add an option to make it behave like v3"
Hi guys,

first of all: Thanks for your great work!

We want to use the tool like in the old version, which means: As long there was no explicit input, the intent should also be used to fill `data-whatinput`.

Maybe it's the best to add an option for that?

I think of something like
[code]

Looking forward to your feedback!

[2017-01-25 16:40] ten1seven commented on #49
Hi @swey, thanks for the feedback!

You should be able to still get the same response as v3 by using the `data-whatintent` attribute or querying `whatInput.ask('loose')`. That was my way of preserving the v3 functionality while moving forward with what I think is a better default (I had no idea the mousemove vs. no mousemove was going to be such a topic!).

If that's not what you were looking for,

[2017-01-25 16:48] swey commented on #49
Hi,
`data-whatintent` does update on `mousemove` and `touchmove` even after there was an explicit input. The old version did update on move but only as long there was the first input.

To receive the behavior of v3, you have to do something like:
[code]

(What we want to achieve: If someone did use the keyboard, the styling should not be changed by moving the mouse around.)

[2017-02-01 13:50] felipesabino opened #50 "Using tab to change input elements does not trigger keyboard event"
Shouldn't changing focus from one element to another using `TAB` change the input type to keyboard?

Steps to reproduce at [demo page](http://ten1seven.github.io/what-input/):

1. use mouse to click `input` _Email address_
1. use keyboard `TAB` key to change focus to `input` _Password_
1. input type stays as `mouse` 💣

If you keep using keyboard `TAB` key to change focus, it will change input type

[2017-02-01 14:38] ten1seven commented on #50
Hi @felipesabino,

This is [intended behavior](https://github.com/ten1seven/what-input#interacting-with-forms). Since everyone has to use a keyboard to interact with form elements, the script persists the last known input type while interacting with inputs, selects and textareas. I left buttons out since they are used outside of forms other interface interactions, like triggering a mobile menu.

I

[2017-02-02 16:25] jasonhibbs commented on #50
I came here to report that _keyboard-after-mouse_ didn’t update but understand your reasoning. Nice work.

Would it be accurate to say that focussing initially with mouse should leave `data-whatintent="mouse"` and tabbing would update `data-whatinput="keyboard"`?

As for buttons, I would style them differently in or outside of forms if I needed to, and would simply opt for accurate representation

[2017-02-06 11:09] artursopelnik opened #51 "RequireJS fails ~ missing amd support"
Currently we use "what-input" in version _"2.1.1"_. Because it is the last working version for our development process with requirejs.

Version 3 and up loaded uncorrectly. Unfortunately there is no error message ...

Could you try to import dist files via requirejs …

[2017-02-06 14:18] ten1seven commented on #51
Hi @artursopelnik, I'll take a look into it.

[2017-02-06 16:55] jasonhibbs opened #52 "Scrolling page with mouse in window changes intent"
`[data-whatintent]` is changed to `mouse` if the pointer is in a window when the page scrolls. I believe this is because `mousemove` is fired.

[2017-02-06 17:16] ten1seven commented on #52
Nice catch @jasonhibbs, thanks!

[2017-02-13 23:39] marcysutton opened #53 "Error with Mocha and JSDOM when including what-input as a dependency"
I just added What-Input to our codebase for styling focus, and it worked beautifully–by using `require`, it extended feature support to 2 separate browser extensions quite easily. However, our Mocha tests are now blowing up:

[code]

I've run into this problem a bunch with browser API scripts assembled with Node.js. In [axe-core](https://github.com/dequelabs/axe-core/), we shim an IIFE with the `w

[2017-02-14 00:17] ten1seven commented on #53
Hi @marcysutton! Possibly related to #51 ? I was about to look into that.

[2017-02-14 00:28] marcysutton commented on #53
Hmm, hard to say with no error message. I was able to include the library in our React app via `require` just fine–my issue is that the module loader bubbles up a Node.js error when it tries including a browser-specific JavaScript file.

[2017-02-14 01:18] ten1seven commented on #53
Gotcha. I'll take a look.

[2017-02-14 02:39] ten1seven commented on #53
I tried out enclosing window as you suggested. Can you try out the version in [this branch](https://github.com/ten1seven/what-input/tree/jf/hotfix-53) and see if it works?

[2017-02-14 03:33] ten1seven commented on #51
Hey @artursopelnik, I gotta admit, this is tripping me up. In the current version I'm supporting UMD via Webpack. Do you have any suggestions for a UMD/AMD compatible wrapper?

[2017-02-14 10:00] artursopelnik commented on #51
Sorry it was my mistake. You have to be include it with the same module name.

**Before:**
`'what-input': '../../node_modules/what-input/dist/what-input',`

**After:**
`'whatInput': '../../node_modules/what-input/dist/what-input',`

It is unusual that filename and module name are different. Maybe it makes sense to adjust.

[2017-02-14 15:27] ten1seven commented on #51
Ah, yes. Good find! I don't want to make a change that would break this for others so I'll add how to do this to the README and keep it in mind for the next major update. Thanks!

[2017-02-14 15:29] #51 closed

[2017-02-14 20:32] marcysutton commented on #53
Sadly the fix didn't prevent our test suite from blowing up...I think possibly because the module is hoisted with `require` and then instantiated right away before we shim objects with JSDOM. If we could require it without instantiating and then pass in a window object, that might fix the timing issue. The window object is defined in our build and the test suite, but in the latter for some reason

[2017-02-14 20:46] ten1seven commented on #53
Sounds good! I'm happy to send more variations your way and, of course, am open to getting a PR 😉

[2017-02-15 16:51] marcysutton commented on #53
Whew, I was able to finally get around it by reconfiguring our test suite. What Input is good as-is, so I'll close this issue! I was resistant to suggesting more changes since your library worked so well on the client-side, even when required/imported. I've included the solution for JSDOM and Mocha below if anyone else runs into it.

Add a test helper file to your build, and tell Mocha about it wi

[2017-02-15 16:51] #53 closed

[2017-02-15 20:26] ten1seven commented on #53
This is great! Thanks for the thorough followup.

[2017-02-25 13:28] danielpost opened #54 "Touch screen being registered as mouse on iPhone"
Hi there,

I'm using Safari on an iPhone 7 running iOS 10.2. When touching the list items on the demo page the touches get registered correctly, however when holding down the list items any longer than a brief touch and then releasing them they get registered as mouse clicks. Any idea what might cause this?

Thanks!

[2017-02-25 17:20] ten1seven commented on #54
Hi @danielpost,

It makes sense because touch and "mouse" events are intermingled in iOS. So a long touch can be interpreted as a click because iOS waits to see if you're scrolling or swiping. However, I'm attempting to buffer that out here (though it might be more effective to stop the buffer with `touchend` rather than a timer): https://github.com/ten1seven/what-input/blob/master/src/what-input.

[2017-02-25 18:22] ten1seven commented on #39
Closing this issue since it's been a while. Please re-open if version 4 didn't fix this issue.

[2017-02-25 18:22] #39 closed

[2017-02-25 19:07] ten1seven commented on #52
@jasonhibbs just published an fix for this as version 4.1.0. Please take a look and let me know what you think.

[2017-02-25 20:28] danielpost commented on #54
That makes sense. What other info would you need? I can reproduce it fairly reliably on my phone, but not on Chrome's dev tools for example.

EDIT: To clarify, this isn't currently causing any issues for me but I figured it might be something you'd want to fix if possible.

[2017-02-27 19:36] ten1seven commented on #54
I just uploaded a possible fix per my thought about using `touchend` (v4.1.0). Can you take a look at the demo page and see if there's any difference for you?

[2017-02-27 19:48] danielpost commented on #54
@ten1seven I can't reproduce it on my phone anymore. Nice one!

[2017-02-27 19:50] ten1seven commented on #54
Thanks @danielpost! I'm going to close this ticket but please send me anything else you come across.

[2017-02-27 19:50] #54 closed

[2017-03-06 23:20] jasonhibbs commented on #52
Solves the issue perfectly where checked in Chrome, thanks!

[2017-03-07 03:27] ten1seven commented on #52
Sweet!

[2017-03-07 03:27] #52 closed

[2017-03-17 10:14] FynnZW commented on #18
To add to this, for anyone upgrading from Foundation 6.2 --> 6.3 that gets this error:
If you are keeping your old gulpfile, because you made custom changes, you will have to add this ignore-statement to babel:

[code]

[2017-03-17 14:33] ten1seven commented on #18
Thanks for the tip @FynnZW!

[2017-05-04 18:28] FezVrasta opened #56 "Ignore some keys?"
For example, I have a component that accepts CMD + Click.

I would like the `data-whatinput` to stay to `mouse` since the user isn't actually going to use the keyboard to navigate the app in any way.

Having the ability to define a list of ignored keys would be handy.

[2017-05-04 21:33] ten1seven commented on #56
Hey @FezVrasta, there's already a [list of ignored keys](https://github.com/ten1seven/what-input/blob/master/src/what-input.js#L24) that includes CMD, however I'm seeing a bug where the key is ignored correctly on `keydown` but missed on `keyup`. I'll look into that!

[2017-05-05 01:18] ten1seven commented on #56
@FezVrasta just pushed up v4.1.2 that should fix the mouse modifier keys. Let me know if that does the trick.

[2017-05-05 02:27] ten1seven commented on #56
I've been working on [v5.0.0](https://github.com/ten1seven/what-input/tree/version-five) and added an API option to overwrite the default ignored keys:

[code]

[2017-05-05 06:27] treetrum opened #57 "Unnecessary console.log statement"
Is there a need for the `console.log(value)` statement on line 129 of what-input.js ?

It's not a real issue, just like to see my console clean unless there's an issue present.

[2017-05-05 09:46] FezVrasta commented on #56
It fixed it, thank you!

[2017-05-05 09:46] #56 closed

[2017-05-05 12:28] ten1seven commented on #57
Yikes! Was just fixing an issue and debugging _last night_ and left that in there on accident. You are very quick! Thanks!

[2017-05-05 12:59] treetrum commented on #57
Hahaha! Just good timing I guess. I happened to start a new project today!

[2017-05-05 12:59] #57 closed

[2017-05-16 15:06] risker opened #59 "Emit events when input or intent changes"
I have the following use case: tooltips that open on click with touch, on focus with keyboard and on hover with mouse. In order to do that, I have to bind a listener on the corresponding event. Now, when the input (or intent) changes, I need to unbind the previous listener and bind the correct one.

As of now, I have a MutationObserver listening to changes on the html element, but I think it could

[2017-05-16 15:20] ten1seven commented on #59
Great idea! I'll get working on it.

[2017-05-23 23:02] NucleaPeon opened #60 "Uncaught ReferenceError: module is not defined"
I'm not using bower or npm to install what-input.js, I'm simply using the src file.
My import tag:

    <script src="js/vendor/what-input.js"></script>

It exists at that location because it was working with a previous version at the same location.

I'm getting an error:

    Uncaught ReferenceError: module is not defined
        at what-input.js:1

Am I doing something wrong in my usage/installat

[2017-05-23 23:05] NucleaPeon commented on #60
As an aside, I would also like to suggest adding in a version variable into the source file, or a version comment.

[2017-05-23 23:09] ten1seven commented on #60
Hi @NucleaPeon. Yes the file locations got moved around when I updated to use Webpack. Your new file location is `dist/what-input.js` or `dist/what-input.min.js`. I'll make a note to add a version variable. Thanks!

[2017-05-24 00:06] NucleaPeon commented on #60
Works perfectly! Thank you

[2017-05-24 00:06] #60 closed

[2017-05-30 15:18] DmitryGonchar commented on #50
@ten1seven But what about updating `data-whatinput` to `keyboard` only if user pressed `TAB` key (in \<input\>)?

Right now if user navigates between inputs with keyboard - `data-whatinput` can still stay as "mouse" (as described in the issue), which seems to behave like a bug

[2017-05-30 15:30] ten1seven commented on #50
@DmitryGonchar it would switch to `keyboard` outside of the context of form elements but retain `mouse` (if that's what you had been using) since someone who switched to the keyboard to fill in a form might use the tab key to move to the next input.

I've been working on **version 5.0** and it changes the logic of `data-whatinput` and `data-whatintent`. In this new version, `data-whatinput` no lon

[2017-05-30 15:49] DmitryGonchar commented on #50
@ten1seven Sorry, I did not understand, where is the problem with the suggestion about 'TAB' for inputs?

Yes, and in this case (if I understand correctly) data-whatinput should become "keyboard", since right now user is using keyboard to navigate (keyboard became the current input method). But it does not.

Ok, will take a look

[2017-05-30 16:16] DmitryGonchar commented on #50
About v5. Looks good!

But I am not sure it will be applicable for case that we have.

We want to show a special :focus style if user _navigates_ around website _with a keyboard_ (this is mostly for users with disabilities). In v5 if we set it in `[data-whatinput="keyboard"] :focus {` (as we do now) - it will be shown for non-disabled users when they type letters into the \<input\> (which is not d

[2017-05-30 16:52] ten1seven commented on #50
@DmitryGonchar this is the big conundrum that I have with this script:
* Report switches in input immediately: this might cause confusion when, as you mention, someone using the keyboard moves the mouse.
* Make assumptions about usage by _not_ switching to "keyboard" when someone using a mouse starts typing in a form field (or uses common mouse modifier keys, like CTRL+click): assumptions are dang

[2017-05-30 19:36] DmitryGonchar commented on #50
ah, ok, so we are free to change the behavior of data-whatintent.

1) I would change currentIntent condition to
[code]

this will enable switching intent to keyboard on Tab for inputs

2) And also there need to be a config option to disable switching intent to mouse on mouse move. I am not sure why it is there, since most often moving mouse is not an input action.

[2017-05-30 19:39] DmitryGonchar commented on #50
Actually, based on your description of #1 ("Report switches in input _immediately_") you should change _whatinput_ on mousemove , not whatintent. Then config option is not needed.

If you go with this option, remember to add a Breaking change comment to changelog.

I can create a PR for the Tab part, if you are ok with that.

[2017-05-31 19:50] DmitryGonchar commented on #50
@ten1seven Should I?

[2017-06-01 14:18] ten1seven commented on #50
Yes, I think this is a good idea 👍

[2017-06-05 17:35] DmitryGonchar commented on #50
@ten1seven Sorry for the delay, done. Other files were generated by running `gulp`

Should I make similar fix and PR to master ?

Have you made up your mind about 2) - changing input instead of intent on mouse move (see [this comment](https://github.com/ten1seven/what-input/issues/50#issuecomment-304985584))?

[2017-06-06 14:44] ten1seven commented on #50
Hi @DmitryGonchar, thanks! I'm out of the country on vacation all this week so I'll take a look when I get back on Monday.

[2017-06-08 17:26] tedw opened #63 "Consider using “passive” event listener for mouse wheel event"
FYI, Chrome displays the following message in the console in “verbose” mode:

Is there any downside to converting to “passive” event listeners?

More info:
https://github.com/WICG/EventListenerOptions/blob/gh-pages/explainer.md

Thanks for everyone’s hard work on this! I use it on all my projects.

[2017-06-12 16:05] ten1seven commented on #63
Thanks @tedw, I'll get this rolled in!

[2017-06-12 20:08] ten1seven commented on #59
Hi @risker, just added this into the current version and deployed today. I looked into custom events, but that had too many backward compatibility risks, so I went with this.

Take a look and let me know what you think!

[code]

[2017-06-12 20:13] ten1seven commented on #63
@tedw just added this, verified that it adds the listener passively and removes the alert from the console and published a new package.

[2017-06-12 20:13] #63 closed

[2017-06-12 21:21] tedw commented on #63
@ten1seven Awesome, thanks!

[2017-06-13 21:24] ten1seven commented on #50
@DmitryGonchar just rolled your changes into version 4: https://github.com/ten1seven/what-input/pull/64

[2017-06-15 06:29] vysinsky opened #65 "How to force input type in tests?"
Hello,

how can I force some input type in tests? I need to test my DropdownMenu which is behaving differently on touch (opens on click) and on mouse (opens on hover). I can run any JS from the test. Is there any way to trigger what-input detection?

Thank you.

[2017-06-15 13:50] ten1seven commented on #65
Hi @vysinsky,

I've played around with using [CasperJS](http://casperjs.org/) to do testing. You can use things like `mouse.move` and `mouse.click` to simulate mouse events and then test the DOM to see if the event triggered what you wanted. Unfortunately CasperJS doesn't yet have [touch event simulation](https://github.com/casperjs/casperjs/issues/946).

[2017-06-29 15:48] mihkeleidast commented on #59
Hey, got around to switching my observer for this. Adding the functions works like a charm. But there should also be a way to unbind the functions. For example, when destroying the instance of the tooltip plugin, it is no longer necessary to run the callback. It actually breaks the plugin by running an internal function after the instance has been destroyed.

[2017-06-29 16:18] ten1seven commented on #59
Ah, yep, good call! I'll get working on that.

[2017-07-03 19:35] ten1seven commented on #50
This is rolled into v4 and v5. Going to close this issue.

[2017-07-03 19:35] #50 closed

[2017-07-03 20:02] ten1seven commented on #59
Okay, just made an update. You should now use `whatInput.registerOnChange(myFunction)` and can remove it with `whatInput.unRegisterOnChange(myFunction)`. I released this as v4.3.0.

[2017-07-04 07:37] mihkeleidast commented on #59
Thanks, this works as expected.

[2017-07-04 07:37] #59 closed

[2017-07-07 23:03] so-rose commented on #18
Thought I'd contribute my experiences - that ignore statement broke my project. I was getting a cryptic error, accompanied by watching my site not run any javascript at all, seemingly with no cause - reverting individual files that worked seconds ago would do nothing. Only reverting my git repository seemed to make it go away, once mysteriously triggered:

[code]
Finding this issue, I thought of a

[2017-07-08 14:54] FynnZW commented on #18
@so-rose, did you comment out this whole line?
` .pipe($.babel({ignore: ['what-input.js']}))  `

If so, then you deactivated Babel completely, which can lead to javascript errors in older browsers.
It seems that you're importing `what-input.min.js` but ignoring `what-input.js`.
Import the normal version (or ignore the minified), then I believe it should work.

[2017-07-08 19:38] so-rose commented on #18
@FynnZW Huh. That works! Thank you so much! The line looks like this now:
`.pipe($.babel({ignore: ['what-input.js', 'what-input.min.js']}))`

I was indeed commenting out the whole line, not knowing that Babel was being deactivated entirely.

I'll try a pull request to the ZURB template - saving a couple megabytes by using already minified assets during development is nice, and shouldn't break, I f

[2017-08-03 16:58] nightpool commented on #50
I'm having trouble understanding why this changed was rolled only into "intent", given [the earlier comment](https://github.com/ten1seven/what-input/issues/50#issuecomment-304940165) and that that intent currently **does** update for mouse-move events. I would much rather be able to have this behavior *without* having the mouse move behavior

[2017-08-29 14:39] stephenbe opened #68 "Whatinput changes to mouse incorrectly when using NVDA"
Hello,

When I am using [NVDA](https://www.nvaccess.org/), what-input incorrectly changes the what-input to mouse in a specific circumstance.

Steps to reproduce  :
Notes : **Use NVDA and firefox.**

1. https://codepen.io/anon/pen/VzVjVW?editors=1111
2. Navigate with tab to the button.
3. Press Enter
4. You will see the box dissapear

You will see what-input go from keyboard to mouse. It should st

[2017-08-29 14:55] ten1seven commented on #68
Thanks for the thorough steps to reproduce! I know there are a few instances where screen readers trigger mouse events.

I'm curious what happens if you move focus to another element before hiding the button? Screen readers classically have issues when a focused element is removed from the DOM (and I think `display: none` will do the same thing). The official term is "freak out" because they don't

[2017-08-29 15:14] stevenbriscoeca commented on #68
Thank you for the quick reply.

I tried the css it still changes to mouse.

I also tried focus on the input text before closing and it's the same result
https://codepen.io/anon/pen/VzVjVW?editors=1111

Do you think this could be fixed in what-input? My gut tells me this is browser related.

What do you think we should do?

[2017-08-29 16:27] ten1seven commented on #68
It's possible that NVDA is firing a mouse down event when activating a control. I'll look into it but it probably won't be today. Hopefully, I'll be able to check it out tomorrow or Thursday.

[2017-08-29 17:04] stevenbriscoeca commented on #68
Okay sounds good. This is open source, so you can do it when ever you have some free time and if you want to! I really appreciate it  :)

[2017-09-05 13:51] ten1seven commented on #49
Hi @swey, I just released version 5 with some breaking changes to v4 and some updated logic to how input/intent behaves. It may still not be exactly what you're looking for, but I'd appreciate it if you'd give it a look.

[2017-09-05 13:53] swey commented on #49
Thanks for your update, @ten1seven! I'll check it out the next days.

[2017-09-25 13:01] thebuilder opened #69 "IE11 - Unable to get property 'length' on classList"
I'm using Sentry to monitor a site, and it's been giving me this error a few times in IE11:

[code]

The sourcemap points to the issue being inside this method, e.g. accessing `length` on `classList`.

[code]

A quick google reveals that [classList is not supported on SVG elements in IE 11](https://connect.microsoft.com/IE/feedback/details/1046039/classlist-not-working-on-svg-elements), which coul

[2017-09-25 15:11] #69 closed

[2017-10-02 17:48] stevenbriscoeca commented on #68
Any update on this? :)

[2017-10-02 17:50] ten1seven commented on #68
Unfortunately, I haven't had time to look into this yet, but I've kept the email in my inbox so it doesn't go far off my radar.

[2017-10-04 02:53] ten1seven commented on #68
I looked into this and was able to reproduce this issue on the [What Input demo page](https://ten1seven.github.io/what-input/). You can reproduce it by tabbing around to get "keyboard" triggered, then make your way to the checkbox and use the spacebar to toggle the checked state. This will flip the input state to "mouse". After a bunch of experimentation, I found that _only_ with the NVDA+Firefox

[2017-10-04 13:19] stevenbriscoeca commented on #68
Alright, do you want me to file a bug https://github.com/nvaccess/nvda ?

I'll obviously give you credit for your codepen and whatnot

[2017-10-04 13:31] ten1seven commented on #68
Sounds good if you're up for submitting the bug!

[2017-11-13 22:29] spasticninja commented on #18
gulp-babel doesn't support ignore, is this vanilla babel?

[2017-11-13 22:34] ten1seven commented on #18
@eladrin201 yes, this [is using](https://github.com/ten1seven/what-input/blob/master/package.json#L24-L26) `babel-core`.

[2017-11-18 19:04] craigkovatch opened #71 ""Since interacting with a form always requires use of the keyboard""
What about when right-clicking to paste into an <input>?

[2017-11-20 14:41] ten1seven commented on #71
Hi @craigkovatch,

The idea at the heart of that statement is that everyone who uses a mouse will most likely have to switch to using the keyboard to fill in a form (this generally doesn't go the other way, where a keyboard user would switch to using their mouse). One of the popular uses of What Input is to style better, more visible, focus indicators for keyboard users. So it would be jarring for

[2017-12-14 05:58] birdkiwi commented on #54
I still can reproduce "mouse" click event on iPhone. Just keep clicking on buttons or links and it appears randomly. Also, "mouse" event firing when holding for 1 sec. Reproduces in simulator and real devices.

iOS 10.3.1 & iOS 11.2

![2017-12-14_12-54-10](https://user-images.githubusercontent.com/3119744/33977645-70a2faa4-e0ce-11e7-8b79-998cd8b5a682.png)

[2017-12-14 17:26] ten1seven commented on #54
Hi @birdkiwi! You must have a tired finger because it took a bunch of tapping for me to see `mouse` get triggered. I was not able to reproduce the 1 second hold result. I'll take a look and see if I can adjust my touch detection to catch this.

[2018-01-08 21:31] ten1seven opened #72 "Use local storage to persist input method between pages"

[2018-01-16 12:55] thebuilder opened #73 "Cannot read property 'toLowerCase' of undefined"
I'm seeing this happen across all browsers (Chrome, Safari 11, IE):
https://sentry.io/share/issue/2a3086e854984946a535c53daf14aed7/

[code]

Seems to be caused by the user clicking on a `<svg>`, and the browser returning `nodeName` as undefined. Like, if the user clicks on a "Share" button on our site.

Is setting `currentElement` critical or a nice feature? regardless, it should check if `nodeNam

[2018-01-16 14:21] #73 closed

[2018-02-21 06:12] razh opened #76 "Consider not using the wheel event for detecting scroll-position"
An unfortunate side-effect of adding a `wheel` event listener is that it triggers undesirable scrolling behavior for `input[type="number"]` elements in Chrome and Safari on macOS:

[code]

![2018-02-21-number-input-wheel-events](https://user-images.githubusercontent.com/240770/36465401-d9e702e4-16a2-11e8-8245-3244833973c9.gif)

This only occurs when a `wheel` event listener is added and it occurs

[2018-02-21 14:15] ten1seven commented on #76
Thanks for the detailed ticket @razh! I'll take a look into this.

[2018-02-21 14:23] razh commented on #76
@ten1seven No worries, we decided to go another route on this that appears to work. I'm aware of at least Firefox on Windows and Linux exhibiting this behavior even without the `.addEventListener('wheel')`.

For future reference, we used [jquery-mousewheel](https://github.com/jquery/jquery-mousewheel) to normalize scroll distances and added it to `scrollTop` in the `mousewheel` event listener inst

[2018-04-26 14:21] jlurena opened #77 "Does not work with React's Virtual-DOM"
As the title suggests, I've been scratching my head effortlessly to make what-input work with React containers and/or virtual DOM, but seems not to work.

What I've noticed:

1. what-input updates the what-input
2. Works with non-react containers as intended.
3. Does not work with react components/containers

[2018-04-26 14:49] ten1seven commented on #77
Hi @jlurena, do you have any more details about what you're seeing (or not seeing)?

What Input listens for events bubbling up to the body rather than trying to bind to individual elements. That way it doesn't have to worry about elements being added or removed from the dom. If you're cancelling bubbling on events that could be one issue.

Another thing to keep in mind is that the script [behaves

[2018-04-26 15:00] kendagriff opened #78 "Can't find variable: mobiGetClick"
Does anyone have any idea where this error might be originating: `Can't find variable: mobiGetClick`?

It appeared on iPads in iOS 11.3 immediately after I added the what-input library. I can't reproduce the error, but it's appearing in our production logs. And `mobiGetClick` is virtually unfindable on the internet. Any ideas?

P.S. Thanks for a great library!

[2018-04-26 15:55] ten1seven commented on #78
Hi @kendagriff `mobiGetClick` is not a variable related to what input. Is that error popping up on page load or when you start interacting with the page? I would suspect another third-party script.

[2018-04-26 15:57] jlurena commented on #77
Hi @ten1seven ,
Thanks for the quick reply.

I wish I could be more descriptive, but I'm not quite sure what is going on.
But I know that I am not cancelling any events from bubbling on the component that I'm trying to style using the what-input selectors, I am however, in other components within that page. Would this cause an issue?

Also, here is a code snippet that does not work with the reacti

[2018-04-26 16:05] kendagriff commented on #78
That's perfectly possible, yes. We're going to deactivate what-input and see if it disappears or if it was merely coincidence.

[2018-04-26 16:05] #78 closed

[2018-04-27 15:49] jlurena commented on #77
@ten1seven I found the error. It had more to do with [Foundation Style](https://foundation.zurb.com/sites/docs/) (that I use) having a higher specificity over the `[data-whatinput=""]` selector. Placed it outside the document <html> into the body <body> and that fixed things.

Thanks!

[2018-04-27 15:49] #77 closed

[2018-04-27 17:29] ten1seven commented on #77
Awesome! Thanks for the follow-up.

[2018-05-01 13:42] dailyraisin opened #80 "expose `doUpdate` to API"
In cases where one wants to prevent default key events (e.g. stopping, preventDefault), it would be necessary to call `doUpdate('intent')` manually from the outside as whatInput listeners will not be reached.

[2018-05-02 13:44] ten1seven commented on #80
Interesting! That sounds pretty simple to implement. Do you have a scenario that I could create locally to test against when I add this?

[2018-05-02 16:00] mbriantoc opened #81 "[data-whatintent='mouse'] *:focus does not apply to <a> and <button> elements"
Hello!

The following css has different effects in different browsers:
[code]

- Safari  11.0.3: works on every element :)
- Firefox 59.0.2: does not work on <a>
- Chrome 65: does not work on <a> and  <button>

Have I missed any step to make it work in all of them?
Thanks!

[2018-05-02 18:48] ten1seven commented on #81
@mbriantoc that _should_ do it, but this code snippet doesn't give me much context around what's happening in your app. I can give you two things to try in those browsers:

### Make sure the JavaScript is loading and working
Open your browser's developer tools so you can inspect the markup as you interact with the page.
+ Are there any errors in the console?
+ Do you see `<html lang="en" data-what

[2018-05-03 08:29] mbdoch commented on #81
Hi @ten1seven

Thanks for the hints!

I was comparing the behaviour of your demo and my app (which is an AngularJS app btw) and the only difference I found is that, in my app, when clicking on any element, the **data-whatclasses** attribute appears with the value of the element's classes.

Is that expected?

[2018-05-03 13:22] ten1seven commented on #81
Correct! `data-whatclasses` displays the classes of the focused (or clicked) element so that you can do very specific styling if desired, like:

[code]

[2018-05-03 15:02] mbdoch commented on #81
Hi @ten1seven

I found out we have a mixin dealing with the style when focus is on the links in the navigation. That's why it didn't work for the <a> elements.

The lib works just fine! Thanks a lot :)

[2018-05-03 16:02] ten1seven commented on #81
Great to hear!

[2018-05-03 16:02] #81 closed

[2018-05-15 18:07] #76 closed

[2018-05-15 18:30] #72 closed

[2018-05-16 11:24] JiaPingWu commented on #72
hi

[2018-07-06 12:49] tcyrus opened #82 "Generate Sourcemap for Min JS Dist"

[2018-09-06 22:43] bk3 opened #84 "Add options for `specificKeys` instead of just `ignoredKeys` for keyboard event"
Add option to add `specificKeys` to detect keyboard press. This is useful for say, only listening to a user using their tab key. I'll be opening a PR soon. Let me know if there are any issues with this.

Thanks :)

[2018-09-06 22:54] ten1seven commented on #84
Hi @bk3! That sounds good to me and thanks for taking the initiative to throw it together!

I'd love to hear the use case for this functionality if you're able to share.

[2018-09-07 18:50] bk3 commented on #84
Hey @ten1seven essentially I ran into an issue where the user clicking any key (say, `s`) would trigger the focus styles to appear since the styles are specifically for `[data-whatintent="keyboard"]`. In my team's use case, we only want to listen to the `tab` keyboard clicks to display the focus styles.

[2018-09-07 21:33] #84 closed

[2018-09-19 18:20] davepenfold opened #86 "VoiceOver (iOS) not reading ARIA state changes when what-input is loaded"
I've created a test case here:

https://codesandbox.io/s/4wlrq70km0

### Test 1

**Steps to reproduce:**

Open https://4wlrq70km0.codesandbox.io/ in Safari on your iOS device. Tested with version 11.4.1.

- double tap the "Click me" button
- VoiceOver should read button as "Click me, expanded"
- double tap the "Click me" button again

**Expected results:**

VoiceOver should read button as "Click m

[2018-09-20 13:07] ten1seven commented on #86
Hi @davepenfold, thanks for reporting this. I checked out your example last night on my phone that's been upgraded to iOS 12 and found that double tapping the screen or directly on the button to initiate a click on the button produced what I would expect as a correct result of VoiceOver announcing "click me, expanded" and "click me, collapsed". A single click directly on the button did not activat

[2018-09-26 20:43] cminkwitz opened #87 "clarification of whatintent"
First of all let me say thank you for your work. I really appreciate it.

Could you please clarify the the meaning of the whatintent attribute. In the demo the whatintent attribute switches to 'mouse' when ever one moves the mouse, which is reasonable. But to get it into keyboard state, one has to tab to the links in the top area. In case one just tabs inside the form, it stays in mouse state. I d

[2018-09-27 11:15] chesio commented on #87
Hi,

This has been asked [before](https://github.com/ten1seven/what-input/issues/50) and is [explained in README](https://github.com/ten1seven/what-input#interacting-with-forms).

[2018-11-05 17:00] sophieH29 commented on #80
Hi, @dailyraisin @ten1seven I am interested in the same feature.
I use React and here is my scenario:
- ```onKeyDown``` handler is called on a ```component A```
- inside this handler, there is a quite big logic, which at the end finds a particular child ```component B``` and focuses it
- ```onFocus``` handler of ```component B``` is called where it is checked if the ```whatInput.ask() === 'keyboar

[2018-11-09 14:14] aj1991 opened #88 ""mouse"-State on mobile devices"
![whtainput-mobile](https://user-images.githubusercontent.com/9250626/48267120-c71e9200-e431-11e8-933f-3b6d6f400060.jpg)

Today I got the following state back after alerting whatInput.ask() - but I was on my mobile device. I was getting this by switching between different input fields (click in one input switch to another).

Version: 5.1.2

[2018-11-09 17:20] ten1seven commented on #88
Hi @aj1991, can you give me some details about the mobile device you are using?

[2018-11-09 19:54] #87 closed

[2018-11-09 21:14] ten1seven commented on #82
Hi @tcyrus, sorry for the long delay. This is now in version 5.1.3! https://github.com/ten1seven/what-input/releases/tag/v5.1.3

[2018-11-09 21:14] #82 closed

[2018-11-09 21:34] ten1seven commented on #80
Hi @sophieH29, I'm digging into this request. Are you push a specific input to what-input and trigger a `doUpdate`? Something like this?

[code]

[2018-11-20 17:31] sophieH29 commented on #80
Hi @ten1seven, I would rather say just to make current function ```setInput``` public, so I will be able to call it onKeyDown event and update state, like

[code]

[2018-11-26 09:26] sophieH29 commented on #80
@ten1seven do you plan to make this update to the library?

[2018-12-22 17:11] studio96 opened #89 "whatinput interfering with HTML calendar widget?"
Hi,

Using Adobe Muse I publish a holiday booking site using html widgets from booklet.co.uk for calendars and availability.

Recently the calendar on the mobile site has not been performing - the date picker sometimes holds and does not select the date, or it selects after a lag. This is on an iPhone (i have a 6s, not sure what the client has, but it is an iPhone)

Bookalet think that either what

[2018-12-26 01:26] ten1seven commented on #89
Hi @studio96,

I'm sorry you're having trouble with your site. I did an unscientific test of visiting the phone-specific link that you sent and then https://www.carolsplaces.com/, another site that uses the bookalet widget but doesn't use What Input or TuochSwipe. I could tell that the calendar widget on carolsplaces.com did seem to be snappier to react to touch inputs.

What Input is written to b

[2018-12-26 08:26] studio96 commented on #89
Hi @ten1seven and many thanks for your reply over the festive period. I really appreciate your investigations. I looked at carolsplaces and found the calendar to be laggy or unresponsive too, so it's an interesting comparison which I will go back to booklet with.

I will raise this with Adobe too, the you are probably aware that Muse is EOL and this is unlikely to updated, so I am already looking

[2018-12-28 19:23] studio96 commented on #89
Hi again,

Could you confirm which device you tested the sites on, please? Here, the issue seems to appear on iOS for Kingsdown and http://strawberryfieldpark.co.uk but not on Android. Bookalet have also asked us to test isleofmullcottages.com which actually seems fine on iOS for me. Could I trouble you to identify the device you used, please?

Thanks

[2018-12-28 21:48] ten1seven commented on #89
I used my personal device: iPhone 8 running iOS 12.1.2. I also used the Xcode device simulator and tested an iPhone 6 running iOS 12.1.

I tried out isleofmullcottages.com and the interactions times seemed pretty quick.

[2019-01-07 08:44] studio96 commented on #89
Hi, thanks for the response.

Bookalet have reverted to usinbg the iOS or Android native date picker which has resolved the issue - appreciate your assistance.

Thanks

Studio96

[2019-01-07 08:44] #89 closed

[2019-01-08 10:53] FezVrasta opened #90 ":focus-visible behavior?"
The `:focus-visible` selector matches almost every time the `[data-whatinput=keyboard]` is active, but even when the user clicks on an `input` element with the mouse.

Is there any way to mimic this behavior with what-input?

[2019-01-28 15:49] ten1seven commented on #90
Hi @FezVrasta, thanks for bringing this up. I've had `:focus-visible` on my radar for a while to look into. What Input has been around longer than `:focus-visible` so it's not meant as a polyfill, but I'm interested in looking into the differences in behavior and seeing if there are any opportunities to make them behave similarly.

[2019-02-01 08:41] mihkeleidast commented on #88
we're facing issues as well with the last versions of iOS Safari reporting mouse input and intent.

we were able to reproduce this on the official demo page.

[2019-02-01 22:59] ten1seven commented on #88
Hi @risker, I was able to reproduce this only through rapid tapping. I _think_ I solved it by increasing a timer that prevents the `mousedown` event from being reported. Can you try the version in this branch https://github.com/ten1seven/what-input/tree/touch-buffering and let me know if that works for you?

[2019-02-02 10:28] mihkeleidast commented on #88
It still pretty regularly reports mouse. I wouldn't call it "rapid tapping", most often it reports mouse after a longer tap - when you don't take your finger off the screen immediately, it mostly reports "mouse", not "touch".

[2019-02-04 17:46] ten1seven commented on #88
Well... apparently I found and fixed an unreported bug then 😄

I'll keep looking. What device (hardware) are you seeing this on? Newer hardware has the 3D Press that can take over a longer tap (though a long tap is also possible, of course).

[2019-02-04 18:18] mihkeleidast commented on #88
Currently i was testing this on a few years old iPad mini, but could also reproduce this on my colleague's iPhone 7, for example.

edit:
I wonder if we could do a `window.matchMedia('(hover: hover), (any-hover: hover)').matches` check inside the mouse event handlers & bail if that check does not match? i'll try to test this out on different devices tomorrow that have both touch & mouse support.

[2019-02-05 11:56] Metastasis opened #92 "Incorrect inputMap"
You missed touchend event in inputMap variable

[2019-02-05 14:32] ten1seven commented on #92
Good catch! I'll have this in a release available in the next day or two. I'll post here when I do so you know when you can check out the update.

[2019-02-06 22:54] ten1seven commented on #88
I have yet to be able to reproduce this. I've been testing on the demo page (and to be clear, the `touch-buffering` branch has not been deployed there). I tried my physical iPhone 8 as well as the Xcode simulator. If there's any way you could take a video of how you're reproducing it, I'd appreciate it.

[2019-03-04 18:11] ten1seven commented on #92
Hi @Metastasis, this is now added in [v5.1.4](https://github.com/ten1seven/what-input/releases/tag/v5.1.4)

[2019-03-04 18:11] #92 closed

[2019-03-14 22:39] shanholmes commented on #88
We are experiencing the same behaviour with CSS selectors.
We are targeting page elements with the CSS selector [data-whatintent='mouse'] .
We are then seeing these styles being applied when pressing on mobile devices.

Edit: Specifically ios. Works fine on Android.

[2019-03-18 16:45] ten1seven commented on #88
Thanks, @shanholmes I have a bit of time to check this out this week!

[2019-03-18 22:31] ten1seven commented on #88
I was finally able to spend some time with this and reproduce the issue! I have a pre-release for you all to check out. Please try it out if you're able and let me know if the issue is corrected for you (or if you uncover any regressions). Thanks!

**Pre-release:**
https://github.com/ten1seven/what-input/releases/tag/v5.2.0

**Branch:**
https://github.com/ten1seven/what-input/tree/88-ios-mouse-rep

[2019-03-27 22:32] ten1seven commented on #88
I did a bunch of testing on my end and no longer could reproduce the issue. Here's the official release:
https://github.com/ten1seven/what-input/releases/tag/v5.2.1

[2019-03-27 22:35] #71 closed

[2019-03-27 22:36] #68 closed

[2019-03-27 23:08] shanholmes commented on #88
Forgot to say, it fixed our issues too.
Thanks for the awesome work!

[2019-03-27 23:37] ten1seven commented on #88
Great, thanks for the follow-up!

[2019-03-27 23:37] #88 closed

[2019-05-27 10:35] EasterPeanut commented on #38
This issue is introduced again after this commit: f7f5338add2986d3a8c8ab4fde16d3facdb7f8bd

[code]

Edit: seems like in IE11 the wrong element is returned by `document.activeElement` when using `display: flex;`:
- https://stackoverflow.com/questions/30935637/wrong-activeelement-in-focus-in-ie11
- https://github.com/Fyrd/caniuse/issues/1682

[2019-05-27 14:01] ten1seven commented on #38
🤦‍♂ thanks for re-discovering this @EasterPeanut! Before I get testing, you're only seeing this in IE11, correct?

[2019-05-27 14:11] EasterPeanut commented on #38
Yes, well I have not reproduced it myself, but in our application all users that encountered this error were using IE11.

[2019-05-27 15:58] ten1seven commented on #38
@EasterPeanut I'm, unfortunately, as before, unable to reproduce this issue with my virtual machines running IE 11.0.9600.18860 on Windows 7 and 11.0.9600.18861 on Windows 8.1. Do you have any other details about what's triggering the issue that I can use for testing?

This is the test code I'm using pretty much straight from the stackoverflow article:

[code]

[code]

[code]

[2019-05-28 08:40] EasterPeanut commented on #38
@ten1seven I do get different results from clicking that span in:
- Opera 60.0.3255.95 on MacOS Mojave 10.14.4 -> DivElement
- IE11 11.503.17763.0 on Windows 10 Pro N version 1809 -> SpanElement

Where it fails in our app:

<img width="854" alt="Screenshot 2019-05-28 at 10 32 49" src="https://user-images.githubusercontent.com/7781165/58463696-9fc0b580-8134-11e9-817b-c7cb143370f3.png">
<img width="

[2019-05-28 08:49] JiaPingWu commented on #38
Ha    在 2019年5月28日 星期二 上午8:40:38 [UTC]， Pien<notifications@github.com> 寫道：

@ten1seven I do get different results from clicking that span in:

   - Opera 60.0.3255.95 on MacOS Mojave 10.14.4 -> DivElement
   - IE11 11.503.17763.0 on Windows 10 Pro N version 1809 -> SpanElement

Where it fails in our app:

—
You are receiving this because you are subscribed to this thread.
Reply to this email direc

[2019-05-28 22:41] ten1seven commented on #38
Well, I'm getting closer. I can reproduce the issue but can't get an error out of what-input. Can you please send me (if you're allowed to) the markup and CSS snippets for the `._readmore_9a791__controls` component so I can test against exactly what you're getting the error on?

Also, the snippet you referenced is in version 5.2.0 or earlier. Version 5.2.1 has some refactoring, including a check a

[2019-05-29 07:57] EasterPeanut commented on #38
True, and we use the later version, but the problem persists there. After the `||` the following is not checked anymore: `activeElem && activeElem.nodeName`.

Before the OR:
[code]
After the OR:
[code]

Our code, tried to simplify it as much as possible:
[code]

[code]

[code]

Somehow I think it has got something to do with the fact we are hiding elements. Maybe IE11's activeElement is 'label-mor

[2019-05-29 23:13] ten1seven commented on #38
Ah, yep yep, thanks for catching that conditional logic error! I made this update https://github.com/ten1seven/what-input/commit/a73ddbad6c497fb38a6f6f98ec7b765887d7b1c7 and created a pre-release. Would you or anyone else following this thread be able to give it a test to see if that resolves the error?

https://github.com/ten1seven/what-input/releases/tag/v5.2.2

[2019-06-03 09:22] EasterPeanut commented on #38
I still can not reproduce the issue myself on my Windows VM + IE11 with the 5.2.1 version. But I did test the code of the pre-release and it works for me :)

[2019-06-03 10:13] JiaPingWu commented on #38
Need permission.
    在 2019年6月3日 星期一 上午9:23:00 [UTC]， Pien<notifications@github.com> 寫道：

I still can not reproduce the issue myself on my Windows VM + IE11 with the 5.2.1 version.

But I did test the code of the pre-release and it works for me :)

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-03 21:20] ten1seven commented on #38
Thanks, @EasterPeanut, that fix was all you! I'm gonna give the solution a little more testing to make sure I didn't miss anything and then release it.

[2019-06-04 08:58] lorenzos opened #94 "Mouse intent when long-tapping in Firefox for Android"
A somewhat minor issue, but on Firefox for Android `[data-whatintent="mouse"]` is set for a very short time when long-tapping anything. It may be that Firefox for Android fires a mouse-related event on long-taps to "emulate" right clicks?

I noticed it on an element that has a `:hover` tooltip that I wanted to remove on mobile, so I used hide the tooltip in CSS and used `[data-whatintent="mouse"]`

[2019-06-05 18:35] matteobad opened #95 "Mouse wheel doesn't trigger any changes"
# Mouse wheel doesn't trigger any changes.

I would expect the mouse wheel to trigger a change. But when scrolling the wheel no changes occurs. I'm not entirely sure, but I think that a wheel event should be treated similarly to a mouse/pointer move event. Let me know what you think about this. Thanks in advance and keep up the great work.

## Step to reproduce:

1. Open the [demo](https://ten1sev

[2019-06-05 19:35] ten1seven commented on #95
Hi @matteobad,

There actually is mousewheel support built in, but it appears that it's not functioning as it should so I'm going to take a look at it.

https://github.com/ten1seven/what-input/blob/master/src/scripts/what-input.js#L318-L334

[2019-06-05 21:12] ten1seven commented on #38
This fix is now in release [v5.2.3](https://github.com/ten1seven/what-input/releases/tag/v5.2.3)

[2019-06-05 21:12] #38 closed

[2019-06-05 21:14] ten1seven commented on #95
I made an update in the latest release ([v5.2.3](DOMMouseScroll)) that addresses mousewheel not always being detected. Please note that `wheel`, `mousewheel`, and `DOMMouseScroll` all report as `mouse`.

If you have any issues, please re-open this ticket.

[2019-06-05 21:14] #95 closed

[2019-06-06 07:58] matteobad commented on #95
Thank you for your rapid response 👍

[2019-06-06 18:30] ten1seven commented on #94
Hi @lorenzos, thanks for reporting this. I'll give it a look.

[2019-06-18 21:26] candymac opened #96 "Firefox: Permission denied to access property "type""
Sentry has been reporting an issue specific to Firefox: Permission denied to access property "type" on line 296 of dist/what-input.js - it is specific to Firefox across various platforms but seems intermittent. A few users on Fire

<img width="829" alt="Screen Shot 2019-06-18 at 5 12 51 PM" src="https://user-images.githubusercontent.com/4683415/59720308-80292400-91ec-11e9-8431-1a0544e9cb6d.png">

[2019-06-18 21:28] ten1seven commented on #96
Thanks @candymac. What version are you using?

[2019-06-18 21:31] candymac commented on #96
Thanks for quick reply. Looks like we're on v5.2.1 - I see there have been a few subsequent updates.

[2019-06-18 21:46] ten1seven commented on #96
There has, but the line you're referring to does still exist here https://github.com/ten1seven/what-input/blob/master/src/scripts/what-input.js#L244

However, some of the updates had to do with mouse event handling. Would you be up for testing out the [current version](https://github.com/ten1seven/what-input/releases/tag/v5.2.3) to see if the issue is still there? If so, I'm happy to dig into it.

[2019-06-19 14:37] candymac commented on #96
We went ahead and upgraded. I'll circle back in the next week and let you know if the reports persist. Also, I haven't independently verified the issues on FireTV... I'll do so first, to try to rule out any issues with our code. Stay Tuned.

[2019-06-19 14:39] ten1seven commented on #96
FireTV "stay tuned" 🥁

[2019-06-26 10:02] akramsmahmoud opened #97 "Ipad safari: [data-whatintent='keyboard']"
Hi, on #ipad #safari when we select input then we start to type using the keyboard of the ipad, the value of [data-whatintent] change to "keyboard" then when we finish typing and close the keyboard, the value remain "Keyboard" and sometime on the load of the page without any interaction with page become [data-whatintent="keyboard"]

[2019-06-26 16:40] candymac commented on #96
Hi, just wanted to follow up. So it appears the FireTV issue was unrelated to what-input, but thanks for offer to test it out. We do however continue to get the same report sporadically on Sentry after upgrading ... we've been unable to reproduce it ourselves and unclear what conditions might cause it to occur, or if it even adversely effects functionality.

[2019-07-03 10:18] #97 closed

[2019-07-18 15:43] danf1024 commented on #96
also seeing the same issue with 5.2.3 and Firefox

[2019-09-03 10:04] trymoto opened #98 "Demo site: some liks are broken"
Hello.
On your demo site (https://ten1seven.github.io/what-input/) there are 2 links in the bottom that lead to `http://viget.com/` and `https://github.com/ten1seven/what-input` that probably get `preventDefault()` and don't work as expected.

[2019-09-03 13:11] ten1seven commented on #98
😂 🤦‍♂  thanks for catching this @trymoto !

[2019-09-09 22:13] ten1seven commented on #98
This is fixed here https://github.com/ten1seven/what-input/commit/e045a2a1e4cc5b31e0291be19656f0fa0ad85c01!

[2019-09-09 22:13] #98 closed

[2019-09-26 00:55] flyingL123 opened #99 "Any way to disable session storage functionality?"
This may not be the intended use for your library, but part of what I was using it for was to detect whether or not there has been some interaction with the page. For example, I have some event listeners that run on the window scroll event. However, I don't want those listeners running until the user interacts with the page.

I was using an older version of what-input, and was able to rely on the

[2019-09-27 22:17] ten1seven commented on #99
Hi @flyingL123, that seemed like a reasonable and useful request (and wound up adding a net of only a few lines of code -- always a plus!) so I went ahead and added this under v5.2.4 (published now). Here is the documentation for how to turn off session storage:

https://github.com/ten1seven/what-input#persisting-inputintent-across-pages

[2019-09-27 22:17] #99 closed

[2019-09-28 02:57] flyingL123 commented on #99
Wow @ten1seven thanks so much for the quick turnaround on that!

[2019-10-01 09:52] brightpixels opened #100 "Why is 'form' mentioned specifically when this lib deals with any interactive element, regardless it's part of a form or not."
Hello,
Not sure if I am missing something but why is 'form' mentioned specifically when this library is a solution for any interactive element, regardless it's part of a form or not.

[2019-10-01 12:16] ten1seven commented on #100
Hi @brightpixels,

Forms fields are the one location where mouse users will predictably have to use their keyboard. Since one major usage of What Input is for styling focus states, I wanted to provide a way to allow developers a way to specify different styling for primary mouse users versus keyboard users. Like in [my demo](https://ten1seven.github.io/what-input/), mouse focus states are subtle b

[2019-10-02 11:29] sn3p opened #101 "Uncaught TypeError: Cannot read property 'dataset' of null"
Got an error bumping what-input from 5.2.3 to 5.2.4:

At line:

https://github.com/ten1seven/what-input/blob/ec9a7d23ed6aa6b3c66d42f603069e4dd8131749/dist/what-input.js#L118

(breaks on `document.body.dataset.whatpersist` to be precise)

Not sure why `body` is null here, but maybe be because we're using [Turbolinks](https://github.com/turbolinks/turbolinks) in our app?

[2019-10-02 13:15] ten1seven commented on #101
Hi @sn3p,

Yikes! Thanks for reporting this. I just released this feature and must have missed the error in testing. I'm going to work on a fix this morning.

[2019-10-02 13:33] ten1seven commented on #101
I just pushed up a fix as `v5.2.5`. Can you give it a try and let me know if that fixes the issue? If not, please let me know what browser version you're seeing the issue in.

[2019-10-02 14:18] sn3p commented on #101
@ten1seven thanks for the fast response, but sorry that doesn't fix my issue 😢
The problem is that `document.body` is undefined, so calling `getAttribute` on body results in the same error:

[code]

**The weird thing is that `document.body` is `null` here 🤔**

I'm using Chrome 77.0.3865.90 on macOS (latest at the time of writing).

[2019-10-02 15:17] sn3p commented on #101
Looks like `document.body` isn't available yet at the time of execution. In other words the DOM is not ready (similar issue [here](https://stackoverflow.com/questions/9916747/why-is-document-body-null-in-my-javascript)).

My app.js is included in the `head` of the document. Here is a part of the source to illustrate the problem:

[code]

[2019-10-02 19:33] ten1seven commented on #101
Yes, of course! I should know better. Thanks for investigating that. I’ll have that update for you shortly.

[2019-10-02 22:31] ten1seven commented on #101
Version 5.2.6 is now up for you to try out. I tested more thoroughly by moving the script tag into the `<head>`. Should work now.

[2019-10-03 09:14] sn3p commented on #101
Yes!! Works perfectly many thanks for the quick fix ⚡️

[2019-10-03 09:14] #101 closed

[2019-10-03 17:03] #100 closed

[2019-10-09 23:05] wisniewski94 opened #102 "Add option to add data attribute to target element not to html tag."
Hi!

(skip for TL;DR)
I am working on open source project called Keyboard UI [(Link: Keyboard_UI/develop)](https://github.com/KeyboardUI/Keyboard_UI/tree/develop) which is fully customizable UI kit with transparency effect using SASS. I wanted to fully controll outline so I made my own but problem was with focus on buttons and clicking (I don't want to have outlines when user is using mouse). Then

[2019-10-10 02:26] wisniewski94 commented on #102
1. Fixed with patch-package from npm.

[2019-11-07 14:42] Diicepoo opened #103 "After tabulation on "<button", data-whatintent switch to "keyboard""
After tabulation on "<button", data-whatintent switch to "keyboard".

You can see at: https://ten1seven.github.io/what-input/

1) Click on input
2) MAJ + TAB for going to button
3) TAB
= Now, input is bordered

It's not logic, because if you do:
1) Click on input
2) MAJ for going on next input
= input is still no bordered

[2019-11-08 09:32] Diicepoo commented on #103
I closed the issue because although I have abnormal behavior on my application, the diagnosis of this issue is not good.

[2019-11-08 09:32] #103 closed

[2019-11-08 09:39] Diicepoo commented on #103
I had abnormal behavior in my application (Angular) because I did not have a `<form`> tag

[2019-11-08 22:12] ten1seven commented on #103
Okay, thanks for the follow up on that @Diicepoo !

[2020-01-24 19:05] greypants commented on #65
If you're using Jest, i generally create a second `*.touch.test.js` file where I mock `whatInput.ask` to return `touch`:

[code]

[2020-02-27 23:36] zjopy opened #104 "Follow convention to put sourcemap in same folder as minified file"
I am using what-input as one of many modules in my build workflow, which puts them all into one folder. I can not put the sourcemap for what-input in a separate `maps` folder, while all other modules follow the convention to keep the sourcemaps in the same folder as the `.min.js`. It would be great if this could be fixed.

[2020-03-04 00:16] ten1seven commented on #104
Hey @zjopy I just made this update here https://github.com/ten1seven/what-input/commit/6ae250e150e050c08fcc6448c8ee5dcb85f2167a. Check out v5.2.7

[2020-03-04 00:16] #104 closed

[2020-05-07 22:40] jamiek-acl opened #105 "Manually change whatInput"
Great library, thanks for building it!

I have used `what-input` to remove the styles from buttons when they have focus and the user is using a mouse.

But I have a page with two buttons, and when the user clicks on Button1, I move the focus to Button2.  In this case Button2 should have the focus styles to guide the user's eyes.  It looks like there used to be a `whatInput.setInput('keyboard');` b

[2020-05-08 14:07] ten1seven commented on #105
Hi @jamiek-acl, thanks for using What Input! You are correct that I removed the ability to programmatically set the input type in favor of keeping those values as "sources of truth" for what is happening in the browser. The current input type is stored internally as a variable, so changing the data attribute wouldn't trigger the script to "know" that there was a change that needs to be tracked, so

[2020-05-08 16:34] jamiek-acl commented on #105
Hi @ten1seven. My example was a little contrived; in reality I am making a re-usable Button component and there's any number of ways a consumer could want to programatically give it focus (onClick another button, onLoad, after api returns, after 13 seconds, etc).

I may be able to do something similar to what you suggested, but do need to keep using `what-input`:

    //button.js
    ...
    force

[2020-05-13 15:38] greypants opened #106 "Add TypeScript type definition"
Hey @ten1seven  - we're converting to typescript, and have typed what-input locally. I'll open a PR soon to add this to your package so it ships fully typed!

This is what we have locally - i need to double check the API and make sure it's correct and complete. PR forthcoming...

[code]

[2020-05-13 15:44] ten1seven commented on #106
Oh, cool! I'm excited!

[2020-05-14 19:02] greypants commented on #106
Resolved by #107

[2020-05-14 19:02] #106 closed

[2020-05-18 11:19] mihkeleidast opened #109 "Improve TypeScript definitions"
Updated today and tried to use the new TypeScript definitions. Ran into two issues:

1. `registerOnChange` and `unRegisterOnChange` [callback parameter types](https://github.com/ten1seven/what-input/blob/master/src/scripts/what-input.d.ts#L6-L7) are faulty - in reality they have a `type` param as well.

2. The [input type string union](https://github.com/ten1seven/what-input/blob/master/src/script

[2020-05-18 14:38] greypants commented on #109
@risker Thanks for catching that

1) The `registerOnChange` type does take a second optional param of `'intent'`. Looking at the code, that's the only valid argument there. It already defaults to `'input'` if undefined. `unregisterOnChange` _does not_ take a second param: https://github.com/ten1seven/what-input/blob/master/src/scripts/what-input.js#L463-L476 Is there something else wrong with thos

[2020-05-18 14:40] mihkeleidast commented on #109
@greypants what i meant was the first param callback type. currently it's `callback: () => void` but it should be `callback: (type: InputType) => void`. That's the documented behavior that we're using: https://github.com/ten1seven/what-input#custom-callbacks.

BTW regarding the second param I think the types should allow `input` as well since it's the default value, there's really no reason why sp

[2020-05-31 10:17] mihkeleidast commented on #109
@ten1seven Did I infer correctly from the assignment of this issue that you want to tackle this yourself? Or can I file the PR myself? It's quite a small fix so I'd like to see this fixed as soon as possible.

[2020-05-31 11:56] ten1seven commented on #109
@mihkeleidast I removed myself from the assignment. Please go ahead and submit a PR. Thank you!

[2020-06-01 14:18] #109 closed

[2020-07-12 01:52] akhilesh888 commented on #101
Hi
In my case , it was fixed only by rebuilding and serve.
Thank You

[2020-11-20 20:04] Kal-Aster opened #114 "Intent does not change exiting an input"
Hi, this module is great!
I haven't try it yet, but I was looking to the [demo](https://ten1seven.github.io/what-input/).

I noticed that the following steps did not trigger the "keyboard" intent:
- selecting with "mouse" or "touch" the "Example Text Input" input
- writing something
- pressing tab to focus the "Selection" select

Here I expect the intent to change to "keyboard", beacause I am usin

[2020-11-20 20:58] ten1seven commented on #114
Hi @Kal-Aster!

What you're seeing is expected behavior. Check out the section in the README on [interacting with forms](https://github.com/ten1seven/what-input#interacting-with-forms). Essentially, since even mouse users use the keyboard when using a form, the `what-intent` feature smooths that out by "remembering" that the mouse was being used up until the form interaction and preserves the mous

[2020-11-20 21:11] Kal-Aster commented on #114
Thank you for the quick response!

[2020-11-20 21:11] #114 closed

[2021-04-15 04:24] xcelance commented on #101
I think this is jquery version error please update jquery version

[2021-04-15 13:09] ten1seven commented on #101
@xcelance jQuery isn't used in what-input

[2021-04-28 08:33] mihkeleidast opened #117 "Using NVDA, input changing to mouse"
This is really the same issue as #68 but decided to file a new one instead on pinging people on years-old issues :)

### Use case
We have an implementation that opens Tooltips on hover, when input is mouse, and on click, when input is keyboard/touch etc. This is implemented by setting the correct event listeners on the element that triggers the opening. We listen to the input change from `whatInpu

[2021-04-28 10:15] mihkeleidast commented on #65
Triggering change events is also very difficult. I ended up ignoring the function passed into `whatInput.registerOnChange`, because there is no simple way to trigger that in tests.

[2021-06-09 08:43] phun-ky opened #121 "Add support for shadowdom/webcomponents"
Is it possible to add support for usage with shadowdom/webcomponents?

[2021-06-09 15:04] ten1seven commented on #121
Hi @phun-ky, I honestly haven't done any work with the shadow DOM. Do you have some specific use cases that could help me think through both of these requests?

[2021-06-10 07:07] phun-ky commented on #121
Basically, we have a webcomponent rendered like this in the DOM:

![Screenshot from 2021-06-10 08-53-05](https://user-images.githubusercontent.com/1714029/121479214-17837500-c9ca-11eb-834d-bd26df0f3951.png)

And this is the focus styling. This is usually in an external css (with link), but since the selector will never "penetrate" the webcomponent (shadow dom, scoped), it is not having an effect.

[2021-08-27 07:51] phun-ky commented on #90
@ten1seven with that beeing said, is there a need for whatinput when we have `:focus-visible` ? (if we only use what-input to display focus ring for keyboard users)

[2021-08-27 15:51] ten1seven commented on #90
@phun-ky it's very possible! If `:focus-visible` gets you what you need then I'd agree that jumping on the browser-native solution is the way to go. I don't make any money from what-input so I have no incentive to persuade anyone to use it if they don't need to 😄

Currently, I continue to use it because [Safari still doesn't support `:focus-visible`](https://caniuse.com/css-focus-visible), and I w

[2022-03-14 21:17] warkentien2 opened #123 "Arbitrarily freeze what-intent while focused"
Hi, @ten1seven

I would like to extend the Form field behavior — of a frozen what-intent while focused — to other elements.
At first, I created a hook, as you showed in https://github.com/ten1seven/what-input/issues/105.
But, it could be as simple as adding a data attribute, e.g.:

Updating:
[code]
to:
[code]

Also, it would be great if `[data-whatintent-target]` didn't have to be inside a `<form>

[2022-03-15 14:16] ten1seven commented on #123
Thanks for this suggestion @warkentien2!

I gave this a bit of thought and was considering going one further and creating an API function that would allow you to provide a parent container and list of focusable children. It could be used internally for forms but then available for things like your use case. Something like:

[code]

Thoughts about that working for your use case but also being gener

[2022-03-15 14:34] warkentien2 commented on #123
Providing a parent container will work perfectly.

Thank you!

[2022-08-09 12:38] DmitryLen opened #128 "Possible bug: value persists "mouse" after pressed a key on a checkbox or a radio."
Because `const formInputs = ['button', 'input', 'select', 'textarea']` includes an `input` tag,
"whatintent" value persists "mouse" after pressed a key on a checkbox or a radio.

Possible solution:
` const notFormInput =
        activeElem &&
        activeElem.nodeName &&
        (formInputs.indexOf(activeElem.nodeName.toLowerCase()) === -1
          **|| activeElem.type === "radio"
          ||

[2022-08-26 09:06] DmitryLen commented on #128
`data-whatintent` becomes `"keyboard"` after pressed "Enter" button on IOS. Is this expected behaviour?

[2022-08-26 13:45] ten1seven commented on #128
Hi @DmitryLen, thanks for bringing this issue up. Your first message sounds like the intended behavior when interacting with forms. I have that documented under [interacting with forms](https://github.com/ten1seven/what-input#interacting-with-forms). Can you take a look at that and let me know if you're seeing that or a bug? If, for your app, you want to detect all input changes, even when interac

[2022-11-18 15:30] DmitryLen commented on #128
I've read the [interacting with forms](https://github.com/ten1seven/what-input#interacting-with-forms) section.
It says, the idea is _mouse user's data-whatintent will be preserved as mouse while typing_
– @ten1seven , But checkboxes and radio share the same `input` tag as the text field, so "data-whatintent" value is preserved as mouse, after pressed a key on a checkbox or a radio.

The second is

[2022-11-25 08:37] DmitryLen commented on #128
@ten1seven ,

IOW,
"data-whatintent" value is preserved as "mouse", when pressing a key on a checkbox or a radio, but this doesn't seem to be a "while typing" case.
This happens, because checkboxes and radio share the same input tag as the text field.